@import 'colors';

.btn-feedback {
    background-color: $offwhite;
    color: $primary-text;
    position: fixed;
    bottom: 0;
    left: 15px;
    line-height: 1;
    font-size: 0.9em;
    border: 1px solid $border;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.modal-title {
    color: $primary;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1em;
}

.alert {
    position: fixed;
    bottom: 0;
    left: 120px;
    border-bottom: 0px;
    margin-bottom: 0;
    line-height: 1.5em;
    font-size: 0.9em;
    font-family: 'Lucida Sans', sans-serif;
    padding: 0.25rem 1.25rem;

    .close {
        top: 0;
        right: 0;
        float: left;
        padding: 0;
        padding-right: 0.5rem;
    }
}

.col-form-label {
    text-align: right;
    color: $primary;
}

.custom-input {
    border: 0 solid $primary;
    border-bottom-width: 2px;
    border-radius: 0;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 0.9em;
    color: $primary-text;
    padding: 0.5rem 0.25rem;
}

.captcha {
    display: inline-block;
    vertical-align: middle;

    @media (max-width: 767px) {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

.btn-submit {
    background-color: $primary;
    color: $white;
}