<header id="header" class="navbar navbar-fixed-top navbar-light">
    <!-- <div class="portal-header"> -->
        <a class="navbar-brand" id="uhero-header" routerLink="/">
        <img src="../../assets/UHEROdata-Logo-color.png">
            <!-- UHERO The Economic Research Organization at the University of Hawaii -->
        </a>
    <!-- </div> -->
</header>
<!-- <div class="about-portal">
   <a href="/" [routerLink]="['/']">About the Data</a>
   <a href="/" [routerLink]="['/']">About UHERO</a>
   <a href="/" [routerLink]="['/']">Help/FAQ</a>
</div> -->
