#header {
   background-color: #016E7D;
   background: url(../../assets/bg_header.png) repeat-x 0 0;
   color: #ffffff;
   padding: 5px 0;
   position: relative;
   width: 100%;

   a {
     position: relative;
     top: 45px;
     left: 5px;
     display: block;
     width: 680px;
     height: 50px;
     text-indent: -500px;
     overflow: hidden;
     position: relative;
   }

   .portal-header {
      background: url(../../assets/uhero_header.png) no-repeat 0 28px;
      height: 115px;
      width: 788px;
      padding: 4px 0 0 0;
      margin: 0 5px;
   }
}

.about-portal {
   margin: 0 0 10px 5px;

   a {
      text-decoration: none;
      color: #000000;
      font-family: sans-serif;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 5px;
   }
}
