#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  color: #ffffff;
  padding: 0;
  box-shadow: 0 4px 6px -6px black;
  -moz-box-shadow: 0 4px 6px -6px black;
  -webkit-box-shadow: 0 4px 6px -6px black;

  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) {
    z-index: 1;
  }

  a {
    padding: 0;
    width: 275px;
    overflow: hidden;
  }

  img {
    // width: 23%;
    padding: 5px;
    max-width: 275px;
    // height: auto;
  }
}

.about-portal {
  margin: 0 0 10px 5px;
   
  a {
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 5px;
  }
}
