@import 'colors';

#header {
  position: fixed;
  height: 55px;
  top: 0;
  width: 100%;
  background-color: $white;
  color: $white;
  padding: 0;
  box-shadow: 0 4px 6px -6px $black;
  -moz-box-shadow: 0 4px 6px -6px $black;
  -webkit-box-shadow: 0 4px 6px -6px $black;

  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) {
    z-index: 1;
  }

  a {
    padding: 0;
    width: 275px;
    overflow: hidden;
  }

  img {
    position: absolute;
    height: 55px;
    padding: 10px;
    max-width: 275px;
  }
}

.about-portal {
  margin: 0 0 10px 5px;
   
  a {
    text-decoration: none;
    color: $black;
    font-family: sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 5px;
  }
}
