@import 'app-colors';

#header {
  position: fixed;
  height: 55px;
  top: 0;
  width: 100%;
  background-color: $white;
  color: $white;
  padding: 0;
  box-shadow: 0 4px 6px -6px $black;
  -moz-box-shadow: 0 4px 6px -6px $black;
  -webkit-box-shadow: 0 4px 6px -6px $black;

  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) {
    z-index: 1;
  }

  a {
    padding: 0;
    width: auto;
    overflow: hidden;
  }

  img {
    height: 55px;
    // padding: 10px;
    max-width: 275px;
  }

  p {
    color: $primary;
    display: inline-block;
    font-family: 'Arial', 'Helvetica', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding: 10px;
    padding-left: 0;
    text-transform: uppercase;
    vertical-align: middle;
  }
}

.about-portal {
  position: absolute;
  right: 10px;
  top: 13px;
  width: initial !important;

  .material-icons {
    font-size: 28px;
  }
}
