#header {
   // position: absolute;
   // height: 120px;
   top: 0;
   width: 100%;
   background-color: #FFFFFF;
   // background: url(../../assets/bg_header.png) repeat-x 0 0;
   color: #ffffff;
   padding: 0;

   @media (max-width: 767px) {
     display: none;
   }

   @media (min-width: 768px) {
     z-index: 1;
     // position: fixed;
     //background-color: #016E7D;
     // padding-bottom: 3.5%;
     //height: 120px;
   }

   /* @media (min-width: 1100px) {
     padding-bottom: 2.5%; 
   } */

   a {
     padding: 0;
     // position: relative;
     // top: 28px;
     // left: 5px;
     // display: block;
     // width: 680px;
     // height: 50px;
     // text-indent: -500px;
     overflow: hidden;
   }

   img {
     width: 40%;
     padding: 5px;
     // max-width: 788px;
     // height: auto;
   }

   /* @media (max-width: 543px) {
     height: 50px;

     a {
       top: 10px;
     }
   } */
}

.about-portal {
   margin: 0 0 10px 5px;

   a {
      text-decoration: none;
      color: #000000;
      font-family: sans-serif;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 5px;
   }
}
