@import 'app_colors';

h3 {
  color: $primary;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.chart-warning {
  display: inline-block;
  margin-left: 5px;

  p {
    font-size: 0.85em;
    background-color: transparent;
    border-color: transparent;
    
    .warning-icon {
      font-size: 18px;
      vertical-align: middle;
    }
  }
}

.analyzer-view {
  @media (min-width: 768px) {
    margin-top: 70px;
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  }
}