<div class="analyzer-view col-xs-12 col-xl-11">
  <h3>Analyzer</h3>
  <!-- <app-share-link *ngIf="analyzerSeries.length" [analyzerSeries]="analyzerSeries" [chartSeries]="analyzerChartSeries" [view]="'analyzer'"
    [name]="tooltipName" [units]="tooltipUnits" [geography]="tooltipGeo" [yoy]="tableYoy" [ytd]="tableYtd" [c5ma]="tableC5ma"
    [startDate]="minDate" [endDate]="maxDate"></app-share-link>
  <app-analyzer-highstock *ngIf="analyzerSeries.length" [portalSettings]="portalSettings" [alertMessage]="alertMessage" [allDates]="analyzerTableDates"
    [series]="analyzerChartSeries" (tooltipOptions)="checkTooltip($event)" (tableExtremes)="setTableDates($event)"></app-analyzer-highstock>
  <app-analyzer-table *ngIf="analyzerSeries.length" [minDate]="minDate" [maxDate]="maxDate" [chartSeries]="analyzerChartSeries"
    [series]="analyzerSeries" [allTableDates]="analyzerTableDates" (tableTransform)="checkTransforms($event)" (updateChartSeries)="updateAnalyzerChart($event, analyzerChartSeries)"></app-analyzer-table> -->
  <ng-template ngFor let-data [ngForOf]="analyzerData | async">
    <app-share-link *ngIf="data.analyzerSeries.length" [analyzerSeries]="data.analyzerSeries" [chartSeries]="data.analyzerChartSeries" [view]="'analyzer'"
      [name]="tooltipName" [units]="tooltipUnits" [geography]="tooltipGeo" [yoy]="tableYoy" [ytd]="tableYtd" [c5ma]="tableC5ma"
      [startDate]="minDate" [endDate]="maxDate"></app-share-link>
    <app-analyzer-highstock *ngIf="data.analyzerSeries.length" [portalSettings]="portalSettings" [alertMessage]="alertMessage" [allDates]="data.analyzerTableDates"
      [series]="data.analyzerChartSeries" (tooltipOptions)="checkTooltip($event)" (tableExtremes)="setTableDates($event)"></app-analyzer-highstock>
    <app-analyzer-table *ngIf="data.analyzerSeries.length" [minDate]="minDate" [maxDate]="maxDate" [chartSeries]="data.analyzerChartSeries"
      [series]="data.analyzerSeries" [allTableDates]="data.analyzerTableDates" (tableTransform)="checkTransforms($event)" (updateChartSeries)="updateAnalyzerChart($event, data.analyzerChartSeries)"></app-analyzer-table>
  </ng-template>
</div>