<div class="dropdown" *ngIf="params">
  <button class="btn analyzer-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    &nbsp;
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p>
      <i class="material-icons analyze-button remove-button" title="Remove from Analyzer" (click)="invokeParentRemoveFromAnalyzer()">&#xE872;</i>
      Remove From Analyzer
    </p>
    <p *ngIf="params.value.showInChart">
      <i class="material-icons" [style.color]="params.value.color" (click)="invokeParentSwitchChartYAxes()">
        compare_arrows
      </i> Switch Y-Axis
    </p>
    <p *ngIf="params.value.showInChart">
      <i class="material-icons analyze-chart color{{params.value.seriesInfo.id}}" [style.color]="params.value.color"
        (click)="invokeParentToggleSeriesInChart()">&#xE834;</i> Remove From Chart
    </p>
    <p *ngIf="!params.value.showInChart">
      <i class="material-icons analyze-chart color{{params.value.seriesInfo.id}}" [style.color]="params.value.color"
        (click)="invokeParentToggleSeriesInChart()">&#xE835;</i> Add To Chart
    </p>
  </div>
</div>