<app-search-bar (onSearch)="onSearch($event)" class="search"></app-search-bar>
<div id="single-series-view" *ngIf="chartData && seriesDetail" class="col-xs-12 col-sm-12 col-xl-11">
  <h3 class="series-title">{{seriesDetail.title}}</h3>
  <app-geo-selector [regions]="regions" [(selectedGeo)]="currentGeo" (selectedGeoChange)="redrawGeo($event)" class="geo-selector"></app-geo-selector>
  <app-freq-selector [freqs]="freqs" [(selectedFreq)]="currentFreq" (selectedFreqChange)="redrawFreq($event)" class="freq-selector"></app-freq-selector>
  <!-- <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" [checked]="saIsActive" (change)="saActive($event)">Seasonally Adjusted
    </label>
  </div> -->
  <app-highstock [chartData]="chartData" [seriesDetail]="seriesDetail"  [currentFreq]="currentFreq" [currentGeo]="currentGeo" (chartExtremes)="redrawTable($event)"></app-highstock>
  <div class="summary-stats" *ngIf="summaryStats">
    <div class="stat">
      <p>Min:</p>{{summaryStats.minValue}}<br>{{summaryStats.minValueDate}}
    </div>
    <div class="stat">
      <p>Max:</p>{{summaryStats.maxValue}}<br>{{summaryStats.maxValueDate}}
    </div>
    <div class="stat">
      <p>{{seriesDetail.percent === true ? 'Change ' : '% Change '}}From Selected: </p>{{summaryStats.change}}
    </div>
    <div class="stat">
      <p>Standard Deviation:</p>{{summaryStats.sd}}
    </div>
  </div>
  <p-dataTable [value]="newTableData" scrollable="true">
    <p-column field="tableDate" header="Date" [sortable]="true"></p-column>
    <p-column field="formattedValue" header="Level"></p-column>
    <p-column field="formattedYoy" [header]=change></p-column>
  </p-dataTable>
</div>
