.single-series-view {
  margin: 18% 0 2% 0;
  vertical-align: top;
  display: inline-block;

  @media (min-width: 768px) {
    margin-top: 70px;
    margin-bottom: 15px;
  }

  .series-title {
    display: block;
    // vertical-align: middle;
    font-size: 1.5em;
    color: #1D667F;
    // text-transform: uppercase;
    letter-spacing: 0.05em;
    // margin: auto 15px auto 0;

    @media (min-width: 768px) {
      margin: auto 15px auto 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .summary-stats {
    width: 100%;
    display: table;
    table-layout: fixed;
    background-color: #F9F9F9;
    padding: 10px 0;
    
    .stat {
      display: table-cell;
      text-align: center;
      font-size: 0.9em;

      p {
        margin-bottom: 0;
        color: #1D667F;
      }
    }
  }
  
  .selectors {
    margin: 0 auto;

    .geo-selector, .freq-selector {
      display: inline-block;
    }
  }

  .single-chart-container {
    margin: 2% 3%;
  }

  .series-table {
    th, td {
      text-align: right;
      font-family: 'Lucida Sans', sans-serif;
    }
    th.ui-state-active {
      background: #ebedf0;
      color: #555555;
      outline: 0;
    }
  }
}
