<div *ngFor="let data of seriesData | async" class="single-series-view col-xs-12 col-sm-12 col-xl-11">
  <p *ngIf="data.error">Series does not exist.</p>
  <div *ngIf="!data.error">
    <h3 class="series-title">{{data.seriesDetail.title}}</h3>
    <i *ngIf="data.seriesDetail.analyze" class="material-icons analyze-button remove-button" (click)="updateAnalyze(data.seriesDetail, data.seriesTableData, data.chartData)">&#xE838;</i>
    <i *ngIf="!data.seriesDetail.analyze" class="material-icons analyze-button add-button" (click)="updateAnalyze(data.seriesDetail, data.seriesTableData, data.chartData)">&#xE83A;</i>
    <app-geo-selector *ngIf="data.regions" [regions]="data.regions" [(selectedGeo)]="data.currentGeo" (selectedGeoChange)="goToSeries(data.siblings, data.currentFreq.freq, $event.handle, seasonallyAdjusted)"
      class="geo-selector"></app-geo-selector>
    <app-freq-selector *ngIf="portal !== 'nta' && data.frequencies" [freqs]="data.frequencies" [(selectedFreq)]="data.currentFreq"
      (selectedFreqChange)="goToSeries(data.siblings, $event.freq, data.currentGeo.handle, seasonallyAdjusted)" class="freq-selector"></app-freq-selector>
    <div class="form-check" *ngIf="data.saPairAvail">
      <label class="form-check-inline">
        <input type="checkbox" [(ngModel)]="seasonallyAdjusted"  (ngModelChange)="goToSeries(data.siblings, data.currentFreq.freq, data.currentGeo.handle, $event)">Seasonally Adjusted
      </label>
    </div>
    <p *ngIf="noSelection">{{noSelection}}</p>
    <p *ngIf="data.noData">{{data.noData}}</p>
    <app-highstock *ngIf="!noSelection && !data.noData" [portalSettings]="portalSettings" [start]="startDate" [end]="endDate"
      [chartData]="data.chartData" [seriesDetail]="data.seriesDetail" [currentFreq]="data.currentFreq" [currentGeo]="data.currentGeo"
      (chartExtremes)="updateChartExtremes($event)" (tableExtremes)="redrawTable($event, data.seriesDetail, data.seriesTableData, data.currentFreq)"></app-highstock>
    <div class="source" *ngIf="data.seriesDetail.source_description || data.seriesDetail.source_link">
      {{data.seriesDetail.source_description}}<br><a href="{{data.seriesDetail.source_link}}" target="_blank">{{data.seriesDetail.source_link}}</a>
      <p innerHTML='{{data.seriesDetail.sourceDetails}}' class="source_detail"></p>
    </div>
    <div class="summary-stats" *ngIf="!noSelection && !data.noData && summaryStats">
      <div class="stat">
        <p>Min ({{summaryStats.minValueDate}}):<br><b>{{summaryStats.minValue}}</b> ({{data.seriesDetail.unitsLabelShort}})</p>
      </div>
      <div class="stat">
        <p>Max ({{summaryStats.maxValueDate}}):<br><b>{{summaryStats.maxValue}}</b> ({{data.seriesDetail.unitsLabelShort}})</p>
      </div>
      <div class="stat" *ngIf="!data.seriesDetail.percent">
        <p>% Change over Selected Range:<br><b>{{summaryStats.percChange}}</b></p>
      </div>
      <div class="stat">
        <p>Change over Selected Range:<br><b>{{summaryStats.levelChange}}</b></p>
      </div>
    </div>
    <div class="series-table">
      <p-dataTable *ngIf="!noSelection && !data.noData" [value]="newTableData">
        <p-column field="tableDate" header="Date" [sortable]="true"></p-column>
        <p-column [field]=portalSettings.seriesTable.series1 header="Level"></p-column>
        <p-column [field]=portalSettings.seriesTable.series2 [header]="data.seriesDetail.percent ? portalSettings.seriesTable.series2PercLabel : portalSettings.seriesTable.series2Label"></p-column>
        <p-column *ngIf="data.currentFreq.freq !== 'A' && portalSettings.seriesTable.columns === 4" [field]="portalSettings.seriesTable.series3"
          [header]="data.seriesDetail.percent ? portalSettings.seriesTable.series3PercLabel : portalSettings.seriesTable.series3Label"></p-column>
      </p-dataTable>
    </div>
  </div>
</div>