@import 'colors';

.single-series-view {
  margin: 18% 0 2% 0;
  vertical-align: top;
  display: inline-block;

  @media (min-width: 768px) {
    margin-top: 70px;
    margin-bottom: 15px;
  }

  .form-check {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 0.9em;
    
    input {
      margin-right: 0.25rem;
    }
  }

  .series-title {
    display: block;
    font-size: 1.5em;
    color: $primary;
    letter-spacing: 0.05em;

    @media (min-width: 768px) {
      margin: auto 10px auto 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .analyze-button {
    color: $primary;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
  }

  .source {
    width: 100%;
    background-color: $white;
    padding: 10px 10px 0 10px;
    font-size: 0.9em;
    margin-top: 1%;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;

    .source_detail {
      margin-bottom: 0;
    }

    a {
      color: $primary;
    }
  }

  .summary-stats {
    width: 100%;
    display: table;
    table-layout: fixed;
    background-color: $white;
    padding: 10px 0;
    
    .stat {
      display: table-cell;
      text-align: center;
      font-size: 0.9em;

      p {
        margin-bottom: 0;
        color: $primary;
      }
    }
  }
  
  .selectors {
    margin: 0 auto;

    .geo-selector, .freq-selector {
      display: inline-block;
    }
  }

  .single-chart-container {
    margin: 2% 3%;
  }

  .series-table {
    box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.15);
  
    th, td {
      text-align: right;
      font-family: 'Lucida Sans', sans-serif;
      font-size: 0.9em;
      border: 0;
      border-right: 1px solid #E5E5E5;
    }

    .ui-datatable th.ui-state-default {
      background: #F5F5F5;
      border: 1px solid #E5E5E5;
      border-bottom: 0;
    }

    th.ui-state-active {
      background: #ebedf0;
      color: $primary-text;
      outline: 0;
    }

    tr.ui-widget-content {
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left: 1px solid #E5E5E5;
      border-right: 1px solid #E5E5E5;
    }
  }
}
