#single-series-view {
  margin: 20% 0 0 0;
  vertical-align: top;
  display: inline-block;
  
  /* @media (min-width: 767px) and (max-width: 1000px) {
    margin: 20% 0 0 0;
  }

  @media (min-width: 1001px) {
    margin: 15% 0 0 0;
  } */
  @media (min-width: 768px) {
    margin-top: 80px;
  }

  .series-title {
    display: block;
    // vertical-align: middle;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.5em;
    color: #1D667F;
    // text-transform: uppercase;
    letter-spacing: 0.05em;
    // margin: auto 15px auto 0;

    @media (min-width: 768px) {
      margin: auto 15px auto 0;
      display: inline-block;
      vertical-align: middle;
    }
  }
  
  .selectors {
    margin: 0 auto;

    .geo-selector, .freq-selector {
      display: inline-block;
    }
  }

  .single-chart-container {
    margin: 2% 3%;
  }
}
