#single-series-view {
  // background: #F6F5F5;
  // width: 650px;
  // margin-left: 8%;
  // margin-right: -8%;
  margin: 25% 0 0 0;
  vertical-align: top;
  display: inline-block;
  
  /* @media (min-width: 767px) and (max-width: 1000px) {
    margin: 20% 0 0 0;
  }

  @media (min-width: 1001px) {
    margin: 15% 0 0 0;
  } */
  @media (min-width: 768px) {
    margin-top: 80px;
  }

  .series-title {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #1D667F;
    // text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: auto 15px auto 0;
  }
  
  .selectors {
    margin: 0 auto;

    .geo-selector, .freq-selector {
      display: inline-block;
    }
  }

  .single-chart-container {
    margin: 2% 3%;
  }

  #single-series-table {
    // margin: 0 3%;
    width: 100%;
    font-family: sans-serif;
    font-size: 0.9em;

    tr {
      background-color: #fff;
    }

    th, td {
      padding: 0.5em;
      text-align: center;
    }

    @media (max-width: 543px) {
      display: none;
    }
  }
}
