  @import 'app-colors';

  .series-scroll {
    display: block;
    cursor: default;
    margin-bottom: 40px;
    margin-top: -40px;

    i {
      cursor: pointer;
      color: $primary;
      font-weight: bold;
      vertical-align: middle;
    }

    .unavailable {
      color: $primary-text;
    }

    p {
      display: inline-block;
      margin-bottom: 0;
      font-size: 0.9em;
    }
  }