<ng-template ngIf [ngIf]="params">
  <span>
    <i class="material-icons analyze-button remove-button" title="Remove from Analyzer" (click)="invokeParentUpdateAnalyzer()">&#xE872;</i>
    <i class="material-icons analyze-chart color{{params.data.seriesInfo.id}}" [style.color]="params.data.color" (click)="invokeParentUpdateChart()">{{ params.data.showInChart ? '&#xE834;' : '&#xE835;'}}</i>
    <a [routerLink]="['/series']" [queryParams]="{ id: params.data.seriesInfo.id, sa: params.data.seriesInfo.saParam }" queryParamsHandling='merge'>{{params.value}}</a>
  </span>
</ng-template>