@import 'app_colors';

.analyze-button {
  color: #B5B5B5;
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.2em;
  //visibility: hidden;
} 

.analyze-chart {
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.2em;
}  
span {
  a {
    display: inline-block;
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $primary-text;
    vertical-align: top;
  }

  &:hover {
    .analyze-button {
      visibility: visible;
    }
  }
}