#landingTabs {
   position: relative;
   width: 1000px;
   margin: 0 auto;

   li {
      display: inline-block;
      margin: 30px 5px 0 0;
      padding: 0 0 0.3em 0;

      a {
         background-color: #DBDEDE;
         text-decoration: none;
         color: #000000;
         font-family: sans-serif;
         font-size: 0.8em;
         text-transform: uppercase;
         letter-spacing: 0.1em;
         padding: 1em 3em;
      }
   }
}

.multi-series-container {
  width: 961px;
  margin: 0 auto;
  background: #DBDEDE;
}
