#wrapper {
  width: 100%;
  height: 100%;
  
  .container, .row {
    margin: 0;
    padding: 0;
    min-height: 100%;

    @media (min-width: 1200px) {
      width: 1300px;
      max-width: 100%;
    }
  }

  .sidebar-container {
    position: relative;
    padding-left: 0px;
  }

  .sidebar-col {
    @media (max-width: 767px) {
      position: fixed;
      width: 100%;
      z-index: 1;
    }

    @media (min-width: 768px) {
      position: fixed;
      top: 55px;
      left: 0;
      height: calc(100% - 55px);
      overflow-y: auto;     
    }
  }

  .content-col {
    .browser {
      position: fixed;
      top: 55px;
      right: 0px;
      z-index: 2;
      margin-bottom: 0;
      padding: 0.25rem 1.25rem;
      height: 30px;
      border-radius: 0;
      font-size: 0.8em;

      button {
        position: relative;
        top: -0.35rem;
        padding: 0.2rem 1.25rem;
      }
    }

    @media (min-width: 1200px) {
      padding-left: 50px;
    }
  }
}