@import 'colors';

.category-tables {
  vertical-align: top;
  display: inline-block;
  min-height: 100%;
  overflow: auto;
  width: 100%;

  @media (min-width: 768px) {
    margin-top: 10px;
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  }

  .material-icons.md-18 {
    font-size: 18px;
    color: $secondary;
    vertical-align: middle;
  }


  // Freeze first column
  .table-row {
    position: relative;
    margin-bottom: 20px;

    .no-data {
      margin-bottom: 0;
      margin-top: 10px;
      font-size: 0.9em;
    }
  
    ul.available-geos, ul.available-freqs {
      li {
        font-size: 0.9em;
      }
    }  

    .table {
      overflow-x: scroll;
      overflow-y: visible;
      width: 68%;
      margin-left: 32%;
      margin-bottom: 40px;
      /* Add gradient to scrollable content, based on: http://www.the-haystack.com/2013/09/24/responsive-scrollable-tables/ */
      background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0)), linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0)), linear-gradient(to right, #E4E4E4, rgba(195, 195, 197, 0)), linear-gradient(to left, #E4E4E4, rgba(195, 195, 197, 0));
      background-position: 0 0, 100% 0, 0 0, 100% 0;
      background-repeat: no-repeat;
      background-color: white;
      background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
      background-attachment: local, local, scroll, scroll;


      .category-table {
        table-layout: fixed;
        width: 100%;
        *margin-left: -32%;

        td, th {
          vertical-align: top;
          width: 125px;
          text-align: right;
          font-size: 0.8em;
          padding: 0.4em;
          border: 1px solid $border;
          &:empty:after {
            content: "\00a0";
          }
        }

        td:empty:after {
          content: "\00a0";
        }

        th {
          position: absolute;
          *position: relative;
          left: 0;
          width: 32%;
          white-space: nowrap;
          border-right: 1px solid $border;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.8em;
          font-weight: normal;
          border-bottom: 0;

          .th-buttons {
            // display: inline-block;
            float: right;
            display: flex;
            align-content: center;
            justify-content: center;

            .info {
              float: right;
              cursor: pointer;
              width: initial;
              margin: auto;

              &:focus {
                outline: 0;
              }

              .info-icon {
                font-size: 1.2em;
                vertical-align: middle;
                margin-left: 5px;
              }
            }

            .analyze-button {
              color: rgba(240, 240, 240, 0.65);
              cursor: pointer;
              vertical-align: middle;
              font-size: inherit;
              font-weight: bold;
              float: left;
              margin: auto;
            }

            .add-button {
              text-shadow: 1px 2px 6px $white, 0 0 0 $black, 1px 2px 6px $white;
            }

            .remove-button {
              color: $secondary;
            }
          }
        }

        .empty-header {
          border: none;
          border-right: 1px solid $border;
        }

        tr:last-child {
          th {
            border: 1px solid $border;
          }
        }

        .indent1 {
          padding-left: 30px;
          
          a {
            width: 68%;
          }
          
          .info {
            width: initial;
          }
        }

        .indent2 {
          padding-left: 50px;

          a {
            width: 60%;
          }
          
          .info {
            width: initial;
          }
        }

        .indent3 {
          padding-left: 70px;

          a {
            width: 50%;
          }
        
          .info {
            width: initial;
          }
        }

        tr:nth-child(even) {
          background-color: $table-gray;

          td:first-child, th:first-child {
            background: $table-gray;
          }

          .th-buttons {
            .analyze-button {
              color: rgba(240, 240, 240, 0.6);
            }
            
            .add-button {
              text-shadow: 1px 2px 6px $table-analyze-button, 0 0 0 $black, 1px 2px 6px $table-analyze-button;
            }

            .remove-button {
              color: $secondary;
            }
          }
        }

        a {
          // display: inline-block;
          width: 74%;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $primary-text;
          vertical-align: top;
          float: left;
        }
      }
    }
  }
}

.tooltip {
  &.bs-tooltip-right {

    .arrow::before {
      border-right-color: $tooltip;
    }
  }
}

.tooltip-inner {
  max-width: 225px;
  text-align: left;
  background-color: $tooltip;
  color: $black;
  box-shadow: -3px -3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: -3px -3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: -3px -3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);

  b {
    font-weight: 600;
  }
}