.category-tables {
  vertical-align: top;
  display: inline-block;
  min-height: 100%;
  overflow: auto;
  width: 100%;

  .content-links {
    padding-left: 5px;
    display: inline-block;
    margin-bottom: 0px;
    // margin-top: 10px;

    li {
      display: inline-block;
      margin-right: 10px;

       a {
         font-family: 'Lucida Sans', sans-serif;
         text-decoration: none;
         font-size: 0.9em;
         color: #1D667F;
       }

       @media (max-width: 767px) {
         min-width: 50%;
         margin-right: 0px;
       }
    }
  }

  .selected-category {
    font-family: 'Lucida Sans', sans-serif;
    display: inline-block;
    color: #1D667F;
    font-size: 1.5em;
    margin: auto 15px 10px 0px;
    vertical-align: middle;
  }

  .switch-view {
    font-family: 'Lucida Sans', sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    color: #1D667F;
    margin-left: 10px;
  }

  .top-anchor {
    display: block;
    content: ' ';
    margin-top: -250px;
    height: 250px;
    visibility: hidden;
  }


  .sublist {
    font-family: 'Lucida Sans', sans-serif;
    color: #1D667F;
    font-size: 1.2em;
    margin-bottom: 0px;
  }

  .sublist:before {
    display: block;
    content: ' ';
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
  }

  .sublist-separator {
    margin-top: 0.5rem;
    background-color: #1D667F;
    height: 2px;
  }

  @media (min-width: 768px) {
    margin-top: 70px;
  }

  @media (max-width: 767px) {
    margin-top: 60px;
  }

  .sa-toggle {
    display: inline-block;

    label {
      display: none;
    }

    label:first-child {
      display: inline-block;
      background-color: #FFFFFF;
      color: #1D667F;
      font-family: 'Lucia Sans', sans-serif;
      font-size: 0.9em;
      font-weight: normal;
      border-radius: 0px;
      border-color: #CCCCCC;
      padding: 4px 10px;
      vertical-align: top;
      
      input {
        display: none;
      }
    }

    label:first-child.isActive {
      background-color: #5B93A7;
      // font-weight: bold;
      color: #FFFFFF;
    }
  }

  a.series-name {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    color: #505050;
    text-decoration: none;

    p {
      margin-bottom: 0px;
    }
  }

  .material-icons.md-18 {
    font-size: 18px;
    // color: #1D667F;
    color: #f6a01b;
    vertical-align: middle;
  }

  .table-row {
    margin-bottom: 60px;
    // width: 99%;
    // overflow-x: auto;

    .table {
      // width: 99%;
      width: 53%;
      overflow-x: auto;
      margin-left: 47%;
      //z-index: 1;

      .category-table {
        margin-bottom: 5px;
        // width: 99%;
        // overflow-x: auto;

        th, tr:nth-child(even) {
          background-color: #ECECEC;
        }

        td:first-child {
          position: absolute;
          background: #FFFFFF;
          width: 47%;
          white-space: nowrap;
          border-right: 1px solid;
          margin-left: -47%;
          padding: 1px;
        }

        th, td {
          white-space: nowrap;
          font-family: 'Lucida Sans', sans-serif;
          font-size: 0.9em;
          // padding: 3px;
          padding: 1px;
        }

        a {
          font-family: 'Lucida Sans', sans-serif;
          font-size: 0.9em;
          color: #505050;
          // text-decoration: none;
        }
      }
    }
  }

  .series-table {
    margin-top: 20px;
  }

  .table-data {
    white-space: nowrap;
    overflow-x: auto;
    width: 99%;
    margin-bottom: 20px;

    .ui-widget-header {
      display: inline-block;
      border: 1px solid #DDDDDD;
      border-right: none;

      table {
        width: auto;
        th {
          border-radius: 0px;
          display: block !important;
          font-family: 'Lucida Sans', sans-serif;
          font-size: 0.9em;
          background-image: none;
          background-color: #F9F9F9;
        }
      }
    }

    .ui-datatable-scrollable-body {
      display: inline-block;
      margin-left: -4px;

      table {
        width: auto;
        tr.ui-widget-content {
          display: inline-block;
          border: none;

          td {
            display: block !important;
            border-color: #DDDDDD !important;
            font-family: 'Lucida Sans', sans-serif;
            font-size: 0.9em;
          }
        }
      }
    }
  }
}