<div class="category-tables">
  <div *ngFor="let data of categoryData | async">
    <h2 class="selected-category" [class.search-term]="routeSearch && data.sublist.length > 0" id="id_top">{{data.selectedCategory}}</h2>
    <p *ngIf="routeSearch && data.invalid">No results found for "{{data.invalid}}."</p>
    <p *ngIf="data.invalid">{{data.invalid}}</p>
    <ng-template ngFor let-sub [ngForOf]="data.sublist">
      <ng-template ngFor let-series [ngForOf]="data.seriesData">
        <div class="table-row" *ngIf="sub.id === series.sublist.id || routeSearch">
          <ul class="content-links" *ngIf="data.sublist.length > 1" [attr.id]="'id_' + series.sublist.id">
            <li *ngFor="let sub of data.sublist">
              <a [routerLink]="['/category/table']" [queryParams]="queryParams" [fragment]="sub.id" (click)="scrollTo()" [class.current-sub]="sub.id === series.sublist.id">{{sub.name}}</a>
            </li>
          </ul>
          <hr class="sublist-separator" *ngIf="data.sublist.length > 1">
          <div class="table-checkboxes">
            <label class="form-check-inline">
              <input class="form-check-input" type="checkbox" [checked]="yoyIsActive" (change)="yoyActive($event)">YOY
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="checkbox" [checked]="ytdIsActive" (change)="ytdActive($event)">YTD
            </label>
          </div>
          <div class="filters">
            <app-geo-selector [regions]="data.regions" [(selectedGeo)]="data.currentGeo" (selectedGeoChange)="redrawTableGeo($event, data.currentFreq)"
              class="selector"></app-geo-selector>
            <app-freq-selector [freqs]="data.frequencies" [(selectedFreq)]="data.currentFreq" (selectedFreqChange)="redrawTableFreq($event, data.currentGeo)"
              class="selector"></app-freq-selector>
            <a [routerLink]="['/category']" [queryParams]="queryParams" class="switch-view">Chart View <i class="material-icons md-18">show_chart</i></a>
          </div>
          <p *ngIf="!series.dateWrapper && !series.hasSeasonallyAdjusted">No Data Available</p>
          <p-dataTable *ngIf="!noSelection && !data.noData" scrollable="true" scrollHeight="250px" frozenWidth="200px" unfrozenWidth="600px" [value]="series.categoryTable.table">
            <p-column field="series" header="Series" [style]="{'width':'250px', 'white-space':'nowrap', 'border-right':'1px solid #000'}" frozen="true">
              <ng-template>
                <span><a [routerLink]="['/series']" [queryParams]="{id: series.id}">{{series.title}}</a></span>
              </ng-template>
            </p-column>
            <p-column *ngFor="let date of series.categoryTable.dateHeader" [field]="date" [header]="date" [style]="{'width':'250px', 'text-align':'right'}"></p-column>
          </p-dataTable>
          <!-- <div class="table" #tableScroll on-mouseover="userMouse()" *ngIf="series.dateWrapper">
            <table class="category-table">
              <tr>
                <th><b>Series</b></th>
                <template ngFor let-date [ngForOf]="series.sublist.dateRange" let-i="index">
                  <td *ngIf="date.date >= series.dateWrapper.firstDate && date.date <= series.dateWrapper.endDate"><b>{{date.tableDate}}</b></td>
                </template>
              </tr>
              <template ngFor let-serie [ngForOf]="series.series">
                <tr *ngIf="serie.seriesInfo.seasonallyAdjusted !== false && serie.categoryTable || series.hasSeasonallyAdjusted === false && serie.categoryTable">
                  <th class = "{{serie.seriesInfo.indent ? 'indent' + serie.seriesInfo.indent : ''}}">
                    <a [routerLink]="['/series']" [queryParams]="{id: serie.seriesInfo.id}" [title]="serie.seriesInfo.title">
                      {{serie.seriesInfo.title}}
                    </a>
                    <span class="badge badge-pill badge-primary" *ngIf="serie.seriesInfo.seasonallyAdjusted === true">SA</span>
                  </th>
                  <template ngFor let-item [ngForOf]="serie.categoryTable">
                    <td *ngIf="item.date >= series.dateWrapper.firstDate && item.date <= series.dateWrapper.endDate">{{item.level}}</td>
                  </template>
                </tr>
                <tr *ngIf="serie.seriesInfo.seasonallyAdjusted !== false && serie.categoryTable && yoyIsActive || series.hasSeasonallyAdjusted === false && serie.categoryTable && yoyIsActive">
                  <th class = "{{serie.seriesInfo.indent ? 'indent' + serie.seriesInfo.indent : ''}}">
                  {{(serie.seriesInfo.percent === true) ? '&emsp; YOY (ch.)' : '&emsp; YOY (%)'}}
                  </th>
                  <template ngFor let-item [ngForOf]="serie.categoryTable">
                    <td *ngIf="item.date >= series.dateWrapper.firstDate && item.date <= series.dateWrapper.endDate">{{item.yoy}}</td>
                  </template>
                </tr>
                <tr *ngIf="serie.seriesInfo.seasonallyAdjusted !== false && serie.categoryTable && ytdIsActive || series.hasSeasonallyAdjusted === false && serie.categoryTable && ytdIsActive">
                  <th class = "{{serie.seriesInfo.indent ? 'indent' + serie.seriesInfo.indent : ''}}">
                  {{(serie.seriesInfo.percent === true)? '&emsp; YTD (ch.)' : '&emsp; YTD (%)'}}
                  </th>
                  <template ngFor let-item [ngForOf]="serie.categoryTable">
                    <td *ngIf="item.date >= series.dateWrapper.firstDate && item.date <= series.dateWrapper.endDate">{{item.ytd}}</td>
                  </template>
                </tr>
              </template>
            </table>
          </div> -->
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>