.category-tables {
  vertical-align: top;
  display: inline-block;
  min-height: 100%;
  overflow: auto;
  width: 100%;

  @media (min-width: 768px) {
    margin-top: 10px;
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  }

  .material-icons.md-18 {
    font-size: 18px;
    // color: #1D667F;
    color: #f6a01b;
    vertical-align: middle;
  }


  // Freeze first column
  .table-row {
    position: relative;
    margin-bottom: 20px;

    .table {
      overflow-x: scroll;
      overflow-y: visible;
      width: 58%;
      margin-left: 32%;
      margin-bottom: 40px;

      .category-table {
        table-layout: fixed;
        width: 100%;
        *margin-left: -32%;

        td, th {
          vertical-align: top;
          width: 125px;
          text-align: right;
          font-size: 0.8em;
          padding: 0.4em;
          border: 1px solid #E5E5E5
        }

        th {
          position: absolute;
          *position: relative;
          left: 0;
          width: 32%;
          white-space: nowrap;
          border-right: 1px solid #E5E5E5;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.8em;
          font-weight: normal;
          border-bottom: 0;
        }

        .info-icon {
          font-size: 1.2em;
          vertical-align: middle;
        }

        tr:last-child {
          th {
            border: 1px solid #E5E5E5;
          }
        }

        .indent1 {
          padding-left: 30px;
          
          a {
            width: 79%;
          }
          
          .info {
            width: initial;
          }
        }

        .indent2 {
          padding-left: 50px;

          a {
            width: 77%;
          }
          
          .info {
            width: initial;
          }
        }

        .indent3 {
          padding-left: 70px;

          a {
            width: 75%;
          }
        
          .info {
            width: initial;
          }
        }

        tr:nth-child(even) {
          background-color: rgba(0, 0, 0, 0.05);

          td:first-child, th:first-child {
            background: rgba(0, 0, 0, 0.05);
          }
        }

        a {
          display: inline-block;
          width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #505050;
          vertical-align: top;
        }
        
        .info {
          width: initial;
          right: 5px;
          position: absolute;
        }

        .badge-primary {
          background-color: #1D667F;
        }
      }
    }
  }
}

.tooltip {
  &.tooltip-bottom,
  &.bs-tether-element-attached-top {

    .tooltip-inner::before {
      border-bottom-color: #F9F9F9;
    }
  }

  &.tooltip-left,
  &.bs-tether-element-attached-right {

    .tooltip-inner::before {
      border-left-color: #F9F9F9;
    }
  }
}

.tooltip-inner {
  max-width: 225px;
  text-align: left;
  background-color: #F9F9F9;
  color: #000000;
  box-shadow: -3px -3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: -3px -3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: -3px -3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);

  b {
    font-weight: 600;
  }
}