@import 'colors';

.category-tables {
  vertical-align: top;
  display: inline-block;
  min-height: 100%;
  overflow: auto;
  width: 100%;

  @media (min-width: 768px) {
    margin-top: 10px;
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  }

  .material-icons.md-18 {
    font-size: 18px;
    color: $secondary;
    vertical-align: middle;
  }


  // Freeze first column
  .table-row {
    .no-data {
      margin-bottom: 0;
      margin-top: 10px;
      font-size: 0.9em;
    }
  
    ul.available-geos, ul.available-freqs {
      li {
        font-size: 0.9em;
      }
    }  

    .table {
      margin-bottom: 40px;

      table {
        th {
          border-right: 1px solid $border;

          .th-buttons {
            // display: inline-block;
            float: right;
            display: flex;
            align-content: center;
            justify-content: center;

            .info {
              float: right;
              cursor: pointer;
              width: initial;
              margin: auto;

              &:focus {
                outline: 0;
              }

              .info-icon {
                font-size: 1.2em;
                vertical-align: middle;
                margin-left: 5px;
              }
            }

            .analyze-button {
              color: rgba(240, 240, 240, 0.65);
              cursor: pointer;
              vertical-align: middle;
              font-size: inherit;
              font-weight: bold;
              float: left;
              margin: auto;
            }

            .add-button {
              text-shadow: 1px 2px 6px $white, 0 0 0 $black, 1px 2px 6px $white;
            }

            .remove-button {
              color: $secondary;
            }
          }
        }

        .empty-header {
          border-right: 1px solid $border;
        }

        .indent1 {
          padding-left: 30px;
          
          a {
            width: 68%;
          }
          
          .info {
            width: initial;
          }
        }

        .indent2 {
          padding-left: 50px;

          a {
            width: 60%;
          }
          
          .info {
            width: initial;
          }
        }

        .indent3 {
          padding-left: 70px;

          a {
            width: 50%;
          }
        
          .info {
            width: initial;
          }
        }

        tr:nth-child(even) {
          .th-buttons {
            .analyze-button {
              color: rgba(240, 240, 240, 0.6);
            }
            
            .add-button {
              text-shadow: 1px 2px 6px $table-analyze-button, 0 0 0 $black, 1px 2px 6px $table-analyze-button;
            }

            .remove-button {
              color: $secondary;
            }
          }
        }

        a {
          // display: inline-block;
          width: 74%;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $primary-text;
          vertical-align: top;
          float: left;
        }
      }
    }
  }
}

.tooltip {
  &.bs-tooltip-right {

    .arrow::before {
      border-right-color: $tooltip;
    }
  }
}

.tooltip-inner {
  max-width: 225px;
  text-align: left;
  background-color: $tooltip;
  color: $black;
  box-shadow: -3px -3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: -3px -3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: -3px -3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);

  b {
    font-weight: 600;
  }
}