.search {
  position: fixed;
  z-index: 2;
  // right: 15px;
  top: 12px;
}

.category-tables {
  vertical-align: top;
  display: inline-block;
  min-height: 100%;
  overflow: auto;
  width: 100%;

  .filters {
    display: inline-block;
    vertical-align: top;
  }

  .content-links {
    padding-left: 0px;
    display: block;
    // margin-bottom: 0px;
    margin-top: 5px;

    li {
      display: inline-block;
      margin-right: 25px;

       a {
         font-family: 'Lucida Sans', sans-serif;
         text-decoration: none;
         font-size: 0.9em;
         color: #1D667F;
         padding-bottom: 3px;
         border-bottom: 1px solid #A5A9AA;

         &:hover {
           border-bottom: 1px solid #1D667F;
         }
       }

       @media (max-width: 767px) {
         min-width: 50%;
         margin-right: 0px;
       }
    }
  }

  .selected-category {
    font-family: 'Lucida Sans', sans-serif;
    display: inline-block;
    color: #1D667F;
    font-size: 1.5em;
    margin: auto 5px 10px 0px;
    vertical-align: middle;
    text-transform: capitalize;
  }

  .switch-view {
    font-family: 'Lucida Sans', sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    color: #1D667F;
    // margin-left: 10px;
  }

  .table-checkboxes {
    font-family: 'Lucida Sans', sans-serif;
    color: #505050;
    margin-bottom: 15px;

    input {
      margin-right: 0.25rem;
    }
  }

  .top-anchor {
    display: block;
    content: ' ';
    margin-top: -250px;
    height: 250px;
    visibility: hidden;
  }


  .sublist {
    font-family: 'Lucida Sans', sans-serif;
    color: #1D667F;
    font-size: 1.2em;
    margin-bottom: 0px;
  }

  .sublist:before {
    display: block;
    content: ' ';
    margin-top: -15px;
    height: 15px;
    visibility: hidden;
  }

  .sublist-separator {
    margin-top: 0.5rem;
    background-color: #1D667F;
    height: 2px;
  }

  @media (min-width: 768px) {
    margin-top: 70px;
  }

  @media (max-width: 767px) {
    margin-top: 55px;
  }

  .sa-toggle {
    display: inline-block;

    label {
      display: none;
    }

    label:first-child {
      display: inline-block;
      background-color: #FFFFFF;
      color: #1D667F;
      font-family: 'Lucia Sans', sans-serif;
      font-size: 0.9em;
      font-weight: normal;
      border-radius: 0px;
      border-color: #CCCCCC;
      padding: 4px 10px;
      vertical-align: top;
      
      input {
        display: none;
      }
    }

    label:first-child.isActive {
      background-color: #5B93A7;
      // font-weight: bold;
      color: #FFFFFF;
    }
  }

  a.series-name {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    color: #505050;
    text-decoration: none;

    p {
      margin-bottom: 0px;
    }
  }

  .material-icons.md-18 {
    font-size: 18px;
    // color: #1D667F;
    color: #f6a01b;
    vertical-align: middle;
  }


  // Freeze first column
  .table-row {
    position: relative;
    margin-bottom: 20px;

    .table {
      overflow-x: scroll;
      overflow-y: visible;
      width: 58%;
      margin-left: 32%;

      .category-table {
        table-layout: fixed;
        width: 100%;
        *margin-left: -32%;

        td, th {
          vertical-align: top;
          width: 125px;
          text-align: right;
          font-size: 0.9em;
          padding: 2px 10px;
        }

        th {
          position: absolute;
          *position: relative;
          left: 0;
          width: 32%;
          white-space: nowrap;
          border-right: 1px solid #CCCCCC;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          font-family: 'Lucida Sans', sans-serif;
          font-size: 0.9em;
          font-weight: normal;
          // padding: 3px 0px 0px 0px;
        }

        tr:nth-child(odd) {
          background-color: #ECECEC;

          td:first-child, th:first-child {
            background: #ECECEC;
          }
        }

        a {
          display: inline-block;
          width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: 'Lucida Sans', sans-serif;
          color: #505050;
          vertical-align: top;
        }

        .tag-primary {
          background-color: #1D667F;
        }
      }
    }
  }

  .series-table {
    margin-top: 20px;
  }
}