@import 'colors';

.category-tables {
  vertical-align: top;
  display: inline-block;
  min-height: 100%;
  overflow: auto;
  width: 100%;

  @media (min-width: 768px) {
    margin-top: 10px;
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  }

  .material-icons.md-18 {
    font-size: 18px;
    color: $secondary;
    vertical-align: middle;
  }


  // Freeze first column
  .table-row {
    position: relative;
    margin-bottom: 20px;

    .table {
      overflow-x: scroll;
      overflow-y: visible;
      width: 68%;
      margin-left: 32%;
      margin-bottom: 40px;

      .category-table {
        table-layout: fixed;
        width: 100%;
        *margin-left: -32%;

        td, th {
          vertical-align: top;
          width: 125px;
          text-align: right;
          font-size: 0.8em;
          padding: 0.4em;
          border: 1px solid $border;
          &:empty:after {
            content: "\00a0";
          }
        }

        th {
          position: absolute;
          *position: relative;
          left: 0;
          width: 32%;
          white-space: nowrap;
          border-right: 1px solid $border;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.8em;
          font-weight: normal;
          border-bottom: 0;

          .th-buttons {
            // display: inline-block;
            float: right;

            .info {
              float: right;
              cursor: pointer;
              width: initial;

              &:focus {
                outline: 0;
              }

              .info-icon {
                font-size: 1.2em;
                vertical-align: middle;
                margin-left: 5px;
              }
            }

            .analyze-button {
              color: #B5B5B5;
              cursor: pointer;
              vertical-align: middle;
              font-size: inherit;
              font-weight: bold;
            }
          }
        }

        .empty-header {
          border: none;
          border-right: 1px solid $border;
        }

        tr:last-child {
          th {
            border: 1px solid $border;
          }
        }

        .indent1 {
          padding-left: 30px;
          
          a {
            width: 68%;
          }
          
          .info {
            width: initial;
          }
        }

        .indent2 {
          padding-left: 50px;

          a {
            width: 60%;
          }
          
          .info {
            width: initial;
          }
        }

        .indent3 {
          padding-left: 70px;

          a {
            width: 50%;
          }
        
          .info {
            width: initial;
          }
        }

        tr:nth-child(even) {
          background-color: $table-gray;

          td:first-child, th:first-child {
            background: $table-gray;
          }
        }

        a {
          // display: inline-block;
          width: 74%;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $primary-text;
          vertical-align: top;
          float: left;
        }
      }
    }
  }
}

.tooltip {
  &.tooltip-bottom,
  &.bs-tether-element-attached-top {

    .tooltip-inner::before {
      border-bottom-color: $tooltip;
    }
  }

  &.bs-tooltip-left,
  &.bs-tooltip-right,
  &.bs-tether-element-attached-right {

    .arrow::before {
      border-left-color: $tooltip;
      border-right-color: $tooltip;
    }
  }
}

.tooltip-inner {
  max-width: 225px;
  text-align: left;
  background-color: $tooltip;
  color: $black;
  box-shadow: -3px -3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: -3px -3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: -3px -3px 6px rgba(0,0,0,0.16), 3px 3px 6px rgba(0,0,0,0.23);

  b {
    font-weight: 600;
  }
}