.category-tables {
  vertical-align: top;
  display: inline-block;
  min-height: 100%;
  overflow: auto;
  width: 100%;

  .filters {
    display: inline-block;
  }

  .content-links:before {
    display: block;
    content: ' ';
    margin-top: -15px;
    height: 15px;
    visibility: hidden;
  }

  .content-links {
    padding-left: 0px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;

    li {
      display: inline-block;

       a {
         text-decoration: none;
         font-size: 0.9em;
         color: #505050;
         padding: 5px;
         border-radius: 3px;

         &:hover {
           color: #1D667F;
           // border-bottom: 1px solid #1D667F;
         }
       }

       .current-sub {
         background: #1D667F;
         color: #FFFFFF;

         &:hover {
           color: #FFFFFF;
         }
       }

       @media (max-width: 767px) {
         min-width: 50%;
         margin-right: 0px;
       }
    }
  }

  .selected-category {
    display: inline-block;
    color: #1D667F;
    font-size: 1.5em;
    margin: 0px;
    vertical-align: middle;
    text-transform: capitalize;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .search-term {
    display: block;
  }

  .switch-view {
    text-decoration: none;
    font-size: 0.9em;
    color: #1D667F;
    // margin-left: 10px;
  }

  .table-checkboxes {
    display: inline-block;
    color: #505050;
    margin-bottom: 15px;
    margin-right: 10px;

    .form-check-inline {
      padding-left: 0;

      .form-check-input {
        margin-right: 0.25rem;
        margin-left: 0rem;
      }
    }
  }

  .top-anchor {
    display: block;
    content: ' ';
    margin-top: -250px;
    height: 250px;
    visibility: hidden;
  }


  .sublist {
    color: #1D667F;
    font-size: 1.2em;
    margin-bottom: 0px;
  }

  .sublist-separator {
    margin-top: 0rem;
    background-color: #1D667F;
    height: 2px;
  }

  @media (min-width: 768px) {
    margin-top: 70px;
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  }

  .sa-toggle {
    display: inline-block;

    label {
      display: none;
    }

    label:first-child {
      display: inline-block;
      background-color: #FFFFFF;
      color: #1D667F;
      font-family: 'Lucia Sans', sans-serif;
      font-size: 0.9em;
      font-weight: normal;
      border-radius: 0px;
      border-color: #CCCCCC;
      padding: 4px 10px;
      vertical-align: top;
      
      input {
        display: none;
      }
    }

    label:first-child.isActive {
      background-color: #5B93A7;
      // font-weight: bold;
      color: #FFFFFF;
    }
  }

  a.series-name {
    font-size: 0.9em;
    font-weight: bold;
    color: #505050;
    text-decoration: none;

    p {
      margin-bottom: 0px;
    }
  }

  .material-icons.md-18 {
    font-size: 18px;
    // color: #1D667F;
    color: #f6a01b;
    vertical-align: middle;
  }


  // Freeze first column
  .table-row {
    position: relative;
    margin-bottom: 20px;

    .table {
      overflow-x: scroll;
      overflow-y: visible;
      width: 58%;
      margin-left: 32%;
      margin-bottom: 40px;

      .category-table {
        table-layout: fixed;
        width: 100%;
        *margin-left: -32%;

        td, th {
          vertical-align: top;
          width: 125px;
          text-align: right;
          font-size: 0.9em;
          padding: 0.4em;
        }

        th {
          position: absolute;
          *position: relative;
          left: 0;
          width: 32%;
          white-space: nowrap;
          border-right: 1px solid #CCCCCC;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.9em;
          font-weight: normal;
        }

        .indent1 {
          padding-left: 30px;
          
          a {
            width: 79%;
          }
        }

        .indent2 {
          padding-left: 50px;

          a {
            width: 77%;
          }
        }

        .indent3 {
          padding-left: 70px;

          a {
            width: 75%;
          }
        }

        tr:nth-child(odd) {
          background-color: #ECECEC;

          td:first-child, th:first-child {
            background: #ECECEC;
          }
        }

        a {
          display: inline-block;
          width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #505050;
          vertical-align: top;
        }

        .badge-primary {
          background-color: #1D667F;
        }
      }
    }
  }
}

.tooltip {
  &.tooltip-bottom,
  &.bs-tether-element-attached-top {

    .tooltip-inner::before {
      border-bottom-color: #F9F9F9;
    }
  }

  &.tooltip-top,
  &.bs-tether-element-attached-bottom {

    .tooltip-inner::before {
      border-top-color: #F9F9F9;
    }
  }
}

.tooltip-inner {
  max-width: 225px;
  text-align: left;
  background-color: #F9F9F9;
  color: #000000;
  box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  b {
    font-weight: 600;
  }
}