<div class="category-tables">
  <p class="top-anchor" id="top"></p>
  <h2 class="selected-category">{{selectedCategory}}</h2>
  <app-geo-selector [regions]="regions" [(selectedGeo)]="currentGeo" (selectedGeoChange)="redrawSeriesGeo($event)" class="selector"></app-geo-selector>
  <app-freq-selector [freqs]="freqs" [(selectedFreq)]="currentFreq" (selectedFreqChange)="redrawSeriesFreq($event)" class="selector"></app-freq-selector>
  <hr>
  <ul class="content-links">
    <li *ngFor="let sub of sublist"><!-- <a [routerLink]="" [fragment]="sub.id">{{sub.name}}</a> -->
    <a [routerLink]="" (click)="scrollTo(sub.id)">{{sub.name}}</a></li>
  </ul>
  <hr>
  <div *ngFor="let series of seriesData" class="multi-charts-row">
    <h3 class="sublist" [attr.id]="series['sublist']['id']">{{series['sublist']['name']}} <a *ngIf="sublist.length > 1"[routerLink]="" (click)="scrollTo('top')"><i class="material-icons md-18">arrow_upward</i></a></h3>
    <div *ngFor="let serie of series.series" class="multi-charts">
      <p *ngIf="!serie['serie']['id']"> No Data Available </p>
      <a href="#" [routerLink]="['/series', serie['serie']['id']]" *ngIf="serie['serie']['id']">
          <p>{{serie['serie']['title']}}</p>
      </a>
          <p-dataTable [value]="serie['observations']['table data']" scrollable="true">
            <p-column *ngFor="let data of serie['observations']['table data']" [field]="data.value" [header]="data.date"></p-column>
            <!-- <p-column field="value" [header]="date"></p-column>
            <p-column field="percValue" header="Percent" [sortable]="true"></p-column> -->
          </p-dataTable>
    </div>
  </div>
</div>