<ng-template ngIf [ngIf]="params && params.data.lvlData">
  <span>
    <a [routerLink]="['/series']" [queryParams]="{ id: params.data.seriesInfo.id, sa: params.data.seriesInfo.saParam }" queryParamsHandling='merge'>{{params.value}}</a>
  </span>
  <a tabindex="0" id="{{params.data.seriesInfo.id}}" class="info" (click)="showPopover(params.data.seriesInfo)" role="button"
    data-animation='false' data-toggle="popover">
    <i class="material-icons info-icon">&#xE88F;</i>
  </a>
</ng-template>
<ng-template ngIf [ngIf]="params && !params.data.lvlData">
  {{params.value}}
</ng-template>