<ng-template ngIf [ngIf]="params.data.lvlData">
  <span>
    <i class="material-icons analyze-button remove-button" title="Remove from Analyzer" (click)="invokeParentUpdateAnalyzer()">&#xE872;</i>
    <i class="material-icons analyze-chart color{{params.data.seriesInfo.id}}" (click)="invokeParentUpdateChart()">{{ params.data.showInChart ? '&#xE834;' : '&#xE835;'}}</i>
    <a [routerLink]="['/series']" [queryParams]="{ id: params.data.seriesInfo.id, sa: params.data.seriesInfo.saParam }" queryParamsHandling='merge'>{{params.value}}</a>
    <a tabindex="0" id="{{params.data.seriesInfo.id}}" class="info" (click)="showPopover(params.data.seriesInfo)" role="button"
      data-animation='false' data-toggle="popover">
      <i class="material-icons info-icon">&#xE88F;</i>
    </a>
  </span>
</ng-template>
<ng-template ngIf [ngIf]="!params.data.lvlData">
  {{params.value}}
</ng-template>