@import 'app_colors';


h1, h2, h3, h4 {
    color: $primary;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 0.9rem;
}

.help-view-topics-list {
    a {
        color: $primary-text;
        text-decoration: underline;
    }
}

ol {
    counter-reset: item;
    padding-inline-start: 15px;
}

li {
    display: block;

    &:before {
        content: counters(item, ".") ". ";
        counter-increment: item
    }
}

#chart-view {
    width: 1428px;
    max-width: 100%;
}

#chart-view2 {
    width: 1428px;
    max-width: 100%;
}

#table-view {
    width: 1428px;
    max-width: 100%;
}

#series-view {
    width: 1428px;
    max-width: 100%;
}

#analyzer-screenshot {
    width: 1428px;
    max-width: 100%;
}

#analyzer-screenshot2 {
    width: 1428px;
    max-width: 100%;
}

#analyzer-tables {
    width: 1428px;
    max-width: 100%;
}

#search-box {
    width: 615px;
    max-width: 100%;
}