#wrapper {
   width: 100%;
   min-height: 100px;
   // font-size: 15px;
   height: 100%;

   .container, .row {
     margin: 0;
     padding: 0;
     min-height: 100%;

     @media (min-width: 1200px) {
       width: 1300px;
       max-width: 100%;
     }
   }

   .sidebar-container {
     position: relative;
     padding-left: 0px;
   }

   .sidebar-col {
     @media (max-width: 767px) {
       position: fixed;
       width: 100%;
       z-index: 1;
     }

     @media (min-width: 768px) {
       position: fixed;
       top: 0;
       left: 0;
     }
   }

   .content-col {
     // padding-left: 30px;

     .browser {
       position: fixed;
       top: 55px;
       right: 0px;
       z-index: 2;
       margin-bottom: 0;
       padding: 0.25rem 1.25rem;
       height: 30px;
       border-radius: 0;
       font-size: 0.8em;

       button {
         top: -0.35rem;
         padding: 0.2rem 1.25rem;
       }
     }

     @media (min-width: 1200px) {
       padding-left: 50px;
     }
   }
}
