<label [for]="'dateFrom_' + subCat.id" class="visuallyhidden">Date From:</label>
<input type="text" [name]="'dateFrom_' + subCat.id" [id]="'dateFrom_' + subCat.id" [value]="sliderDates[start]" class="date-input js-from" />
<div class="slider-container">
    <input *ngIf="subCat" class="sliders" type="text" [id]="'slider_' + subCat.id" value="" aria-label="date-range-slider" />
</div>
<label [for]="'dateTo_' + subCat.id" class="visuallyhidden">Date To:</label>
<input type="text" [name]="'dateTo_' + subCat.id" [id]="'dateTo_' + subCat.id" [value]="sliderDates[end]" class="date-input js-to" />