@import 'app_colors';

.irs-line-mid, .irs-line-left, .irs-line-right,
.irs-bar, .irs-bar-edge, .irs-slider {
    background: url(../../sprite-skin-nice2.png) repeat-x;
    position: absolute;
}

.irs-slider.from, .irs-slider.to {
    background-position: 0 -120px;
}

.irs-slider.state_hover, .irs-slider:hover {
    background-position: 0 -150px;
}

.irs-line-mid {
    background-position: 0 0;
}

.irs-line-left {
    background-position: 0 -30px;
}

.irs-line-right {
    background-position: 100% -30px;
}

.irs-bar {
    background-position: 0 -60px;
}

.irs-slider, .irs-slider.type_last {
    z-index: 0;
}

.irs-from, .irs-to, .irs-single {
    background: none;
    border-radius: 0px;
    font-size: 12px;
    color: $primary-text;
    padding: 1px 2px;
}