@import 'app_colors';

.multi-charts-row {
  display: block;
  margin-bottom: 40px;

  .no-data {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 0.9em;
  }

  ul.available-geos, ul.available-freqs {
    li {
      font-size: 0.9em;
    }
  }
}

.multi-charts {
  display: inline-block;
  padding: 0 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 10px 10px 10px 3px;
  background: $chart-background;
  max-height: 206px;

  a {
    color: $black;
  }

  a:hover {
    text-decoration: none;
  }
    
  .analyzer-toggle {
    color: $primary-text;
    cursor: pointer;
    position: relative;
    top: -25px;
    vertical-align: middle;
    left: 10px;
    font-size: 1em;
  }

  .add-analyze-button {
    text-shadow: 1px 2px 6px $chart-background, 0 0 0 $black, 1px 2px 6px $chart-background;

    &:hover::after {
      color: $series-gray;
      content: ' Add to Analyzer';
      vertical-align: text-bottom;
      font-weight: bold;
      font-size: 0.8em;
      font-family: 'Lucida Sans', sans-serif;
      text-shadow: none;
    }
  }

  .remove-analyze-button {
    color: $primary-text;

    &:hover::after {
      color: $series-gray;
      content: ' Remove from Analyzer';
      vertical-align: text-bottom;
      font-weight: bold;
      font-size: 0.8em;
      font-family: 'Lucida Sans', sans-serif;
      text-shadow: none;
    }
  }
}

:host {
  ::ng-deep {
    .ui-paginator {
      background: none;
      border: 0;
      font-size: 0.9em;
      text-align: left;
    }

    .ui-paginator-left-content {
      display: inline-block;
      float: none;
      // font-size: 0.9em;
      color: $primary-text;
      vertical-align: middle;
    }

    .ui-dropdown {
      display: inline-block;
    }

    .ui-paginator-pages {
      min-width: unset;
    }

    .ui-paginator .ui-paginator-element {
      display: none;
    }

    .ui-widget button {
      border: none;
      color: $primary;
      font-family: 'primeicons';
      // font-size: 0.9em;
      padding: 0.5em;
    }

    .ui-widget button:hover {
      background-color: rgba(90, 90, 90, 0.1);
      border-radius: 100%;
    }

    .ui-state-disabled:hover {
      background: none !important;
    }

    .ui-widget button:focus {
      outline: none;
    }

    .ui-dropdown {
      border: 0;
      border-bottom: 1px solid rgba(90, 90, 90, 0.2);
      border-radius: 0;
    }

    .ui-dropdown-label {
      color: $primary-text;
      // font-size: 0.9em;
      padding-bottom: 0;
      padding-top: 0;
    }

    .ui-dropdown-label:focus {
      box-shadow: none;
      outline: none;
    }

    .ui-dropdown-trigger {
      border-left: 0;
      color: $primary;
    }

    .ui-dropdown-panel {
      // font-size: 0.9em;
    }

    .ui-dropdown-items {
      color: $primary-text;
      padding: 0;
    }

    .ui-dropdown-item {
      border-radius: 0;
    }
  }
}
