<i *ngIf="!data" class="fas fa-spinner fa-pulse fa-fw"></i>
<div class="multi-charts-row" *ngIf="data">
	<ng-template ngIf [ngIf]="noSeries">
		<p *ngIf="noSeries && (sublist.freqs || sublist.geos)" class="no-data">Data Available for:</p>
		<ul *ngIf="sublist.geos" class="available-geos">
			<li *ngFor="let geo of sublist.geos">
				{{geo.shortName}}
			</li>
		</ul>
		<ul *ngIf="sublist.freqs && !sublist.geos" class="available-freqs">
			<li *ngFor="let freq of sublist.freqs">
				{{freq.label}}
			</li>
		</ul>
		<p *ngIf="noSeries && !sublist.freqs && !sublist.geos" class="no-data">No data available</p>
	</ng-template>
	<ng-template ngFor let-serie [ngForOf]="data">
		<div *ngIf="!noSeries" class="multi-charts">
			<a href="#" [routerLink]="['/series']" [queryParams]="{id: serie.seriesInfo.id, sa: serie.seriesInfo.saParam}" queryParamsHandling='merge'
			 *ngIf="serie.seriesInfo.id" (click)="submitGAEvent(serie.seriesInfo.id)">
				<app-highchart [minValue]="sublist.minValue" [maxValue]="sublist.maxValue" [portalSettings]="portalSettings" [chartStart]="chartStart"
				 [chartEnd]="chartEnd" [seriesData]="serie" [currentFreq]="freq"></app-highchart>
			</a>
			<i [class.add-button]="!serie.seriesInfo.analyze" [class.remove-button]="serie.seriesInfo.analyze" class="material-icons analyze-button remove-button"
			 (click)="updateAnalyze(serie.seriesInfo, serie.tableData, serie.chartData)">&#xE838;</i>
		</div>
	</ng-template>
</div>