<div class="multi-charts-row">
	<ng-template ngIf [ngIf]="noSeries">
		<p *ngIf="noSeries" class="no-data">No data available for current selection.</p>
	</ng-template>
	<ng-template ngFor let-serie [ngForOf]="data" [ngForTrackBy]="trackBySeries">
		<div *ngIf="!noSeries" class="multi-charts">
			<a href="#" [routerLink]="['/series']"
				[queryParams]="{id: serie.seriesInfo.id, sa: serie.seriesInfo.saParam, seriesCat: selectedDataList}"
				queryParamsHandling='merge' *ngIf="serie.seriesInfo.id" (click)="submitGAEvent(serie.seriesInfo.id)">
				<app-highchart [minValue]="minValue" [maxValue]="maxValue"
					[portalSettings]="portalSettings" [chartStart]="chartStart" [chartEnd]="chartEnd"
					[seriesData]="serie" [categoryDates]="dates" [currentFreq]="freq"></app-highchart>
			</a>
			<i *ngIf="!serie.seriesInfo.analyze" title="Add to Analyzer"
				[class.add-analyze-button]="!serie.seriesInfo.analyze" class="material-icons analyzer-toggle"
				(click)="updateAnalyze(serie.seriesInfo)">star_border</i>
			<i *ngIf="serie.seriesInfo.analyze" title="Remove from Analyzer"
				[class.remove-analyze-button]="serie.seriesInfo.analyze"
				class="material-icons analyzer-toggle remove-button" (click)="updateAnalyze(serie.seriesInfo)">star</i>
		</div>
	</ng-template>
</div>