@import 'colors';

  .multi-charts-row {
    display: block;
    margin-bottom: 40px;
  }

  .no-data {
    margin-top: 10px;
    font-size: 0.9em;
  }

  .series-scroll {
    display: inline-block;
    cursor: default;

    i {
      cursor: pointer;
      color: $primary;
      font-weight: bold;
      vertical-align: middle;
    }

    .unavailable {
      color: $primary-text;
    }

    p {
      display: inline-block;
      margin-bottom: 0;
      font-size: 0.9em;
    }
  }

  .multi-charts {
    display: inline-block;
    padding: 0 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 10px 10px 10px 3px;
    background: $chart-background;

    a {
      color: $black;
    }

    a:hover {
      text-decoration: none;
    }
  }
