@import 'colors';

.search-bar {
  position: fixed;
  top: 12px;
  right: 30px;

  .form-control {
    padding: 0.125rem 1rem;
    font-family: "FontAwesome", "Lucida Sans", sans-serif;
  }

  ::-webkit-input-placeholder {
    color: $gray;
  }

  :-moz-placeholder {
    color: $gray;
    opacity: 1;
  }

  ::-moz-placeholder {
    color: $gray;
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: $gray;
  }

  .btn {
    line-height: 1.15;
    background-color: $primary;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
    .material-icons.md-18 {
      font-size: 18px;
      color: $white;
      vertical-align: middle;
    }
  }

  @media (max-width: 767px) {
    position: relative;
    top: 8px;
    right: 3px;

    .form-control {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    .input-group-btn {
      display: none;
    }
  }
}