#wrapper {
   background-color: #CBC8C8;
   // position: relative;
   width: 100%;
   min-height: 100px;
   // margin: 0 auto;
   font-size: 15px;
   height: 100%;
   
   .container, .row {
     margin: 0;
     padding: 0;
     min-height: 100%;
     // background: #F6F5F5;

     @media (min-width: 768px) {
       overflow: hidden;
     }
   }

   .sidebar-col, .content-col {
     @media (min-width: 768px) {
       margin-bottom: -9999px;
       padding-bottom: 9999px;
     }
   }

   .sidebar-col {
     @media (min-width: 768px) {
       background: #3E3E40;
     }
   }
}
