body {
   margin-bottom: 0;
}

#wrapper {
   background-color: #CBC8C8;
   position: relative;
   width: 100%;
   min-height: 100px;
   margin: 0 auto;
   font-size: 15px;
   height: 100%;

   .content {
       margin-left: 25%;
   }
}
