@import 'app-colors';

.customize-tooltip {
  display: block;
  
  p {
    display:  inline-block;
    font-size: 0.85em;
    margin-top: 1rem;
    vertical-align: middle;
  }
}

.alert-message {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 0.85em;
    color: $primary-text;
    height: calc(1.75rem - 2px);
    padding: 0.175rem;
    margin-bottom: 0;
    vertical-align: middle;

    i {
        font-size: 16px;
        vertical-align: sub;
    }
}

#analyzer-chart, #chart {
    box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.15);
}

.highcharts-background {
    fill: $chart-background;
}

.highcharts-button, .highcharts-button-hover {
    stroke: none;
}

.highcharts-button.highcharts-button-pressed {
    fill: $highstock-series0;

    text {
        fill: $white;
    }
}

.highcharts-subtitle {
    fill: $primary-text;
    font-weight: bold;
}

.highcharts-markers.highcharts-color-0 {
    path {
        fill: $analyzer-series0;
    }
}

.highcharts-markers.highcharts-color-1 {
    path {
        fill: $analyzer-series1;
    }
}

.highcharts-markers.highcharts-color-2 {
    path {
        fill: $analyzer-series2;
    }
}

.highcharts-markers.highcharts-color-3 {
    path {
        fill: $analyzer-series3;
    }
}

.highcharts-markers.highcharts-color-4 {
    path {
        fill: $analyzer-series4;
    }
}

.highcharts-navigator-handle {
    stroke: #999999;
}

.highcharts-color-0 {
    fill: $analyzer-series0;
    stroke: $analyzer-series0;
}

.highcharts-color-1 {
    fill: $analyzer-series1;
    stroke: $analyzer-series1;
}

.highcharts-color-2 {
    fill: $analyzer-series2;
    stroke: $analyzer-series2;
}

.highcharts-color-3 {
    fill: $analyzer-series3;
    stroke: $analyzer-series3;
}

.highcharts-color-4 {
    fill: $analyzer-series4;
    stroke: $analyzer-series4;
}

.pseudoHistory {
    stroke: #7CB5EC;
    stroke-dasharray: 5, 10;
}

.highcharts-navigator-series {
    .highcharts-graph {
        color: #505050;
        stroke: #505050;            
    }

    .highcharts-area {
        fill: $highstock-series1;
    }
}

.highcharts-title {
    fill: $primary-text;
    font-family: sans-serif;
}

.highcharts-tooltip {
    filter: none;

    .series-0 {
        fill: $analyzer-series0;
    }
        
    .series-1 {
        fill: $analyzer-series1;
    }
        
    .series-2 {
        fill: $analyzer-series2;
    }

    .series-3 {
        fill: $analyzer-series3;
    }

    .series-4 {
        fill: $analyzer-series4;
    }

    .highcharts-tooltip-box {
        stroke-width: 0;
    }
}

.highcharts-xaxis-labels {
    text {
        color: $highstock-series0;
        fill: $highstock-series0;
    }
}

.highcharts-yaxis-grid {
    .highcharts-grid-line {
        display: none;
    }
}

.highcharts-yaxis-labels.series1 {
    text {
        color: $highstock-series0;
        fill: $highstock-series0;
    }
}

.highcharts-yaxis-labels.series2 {
    text {
        color: $highstock-series1;
        fill: $highstock-series1;
    }
}

.highcharts-yaxis.series1 {
    .highcharts-axis-title {
        color: $highstock-series0;
        fill: $highstock-series0;
    }
}

.highcharts-yaxis.series2 {
    .highcharts-axis-title {
        color: $highstock-series1;
        fill: $highstock-series1;
    }
}
