<div *ngIf="alertMessage" class="alert alert-info alert-message" role="alert">
    <i class="material-icons">&#xE001;</i> {{alertMessage}}
</div>
<highcharts-chart id="stock-chart" [Highcharts]="Highcharts" [constructorType]="chartConstructor" [options]="chartOptions"
    [(update)]="updateChart" [callbackFunction]="chartCallback"></highcharts-chart>
<div class="customize-tooltip">
    <p>Tooltip Display:</p>
    <label class="form-check-inline">
        <input type="checkbox" (change)="nameActive($event)" [checked]="nameChecked">Series Name
    </label>
    <label class="form-check-inline">
        <input type="checkbox" (change)="unitsActive($event)" [checked]="unitsChecked">Units
    </label>
    <label class="form-check-inline">
        <input type="checkbox" (change)="geoActive($event)" [checked]="geoChecked">Geography
    </label>
</div>