@import 'colors';

.customize-tooltip {
  display: inline-block;
  
  p {
    display:  inline-block;
    font-size: 0.85em;
    margin-top: 1rem;
    vertical-align: middle;
  }
}

#analyzer-chart {
    box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.15);

    .highcharts-background {
        fill: $chart-background;
    }

    .highcharts-button, .highcharts-button-hover {
        stroke: none;
    }

  .highcharts-button.highcharts-button-pressed {
    fill: $highstock-series1;

        text {
            fill: $white !important;
        }
    }

    .highcharts-color-0, .highcharts-color-1 {
        fill: none;
        stroke: none;
    }

    .highcharts-markers.highcharts-series-0 {
        path {
            fill: $analyzer-series0;
        }
    }

    .highcharts-markers.highcharts-series-1 {
        path {
            fill: $analyzer-series1;
        }
    }

    .highcharts-markers.highcharts-series-2 {
        path {
            fill: $analyzer-series2;
        }
    }

    .highcharts-markers.highcharts-series-3 {
        path {
            fill: $analyzer-series3;
        }
    }

    .highcharts-markers.highcharts-series-4 {
        path {
            fill: $analyzer-series4;
        }
    }

    .highcharts-navigator-handle {
        stroke: #999999;
    }

    .highcharts-series-0 {
        .highcharts-graph {
            stroke: $analyzer-series0;
            color: $analyzer-series0
        }
    }

    .highcharts-series-1 {
        .highcharts-graph {
            stroke: $analyzer-series1;
            color: $analyzer-series1;
        }
    }

    .highcharts-series-2 {
        .highcharts-graph {
            stroke: $analyzer-series2;
            color: $analyzer-series2;
        }
    }

    .highcharts-series-3 {
        .highcharts-graph {
            stroke: $analyzer-series3;
            color: $analyzer-series3;
        }
    }

    .highcharts-series-4 {
        .highcharts-graph {
            stroke: $analyzer-series4;
            color: $analyzer-series4;
        }
    }

    .highcharts-navigator-series {
        .highcharts-graph {
            color: #505050;
            stroke: #505050;            
        }

        .highcharts-area {
            fill: $highstock-series1;
        }
    }

    .highcharts-title {
        fill: $primary-text;
        font-family: 'sans-serif';
    }

    .highcharts-tooltip {
        filter: none !important;

        .series-0 {
            fill: $analyzer-series0;
        }
        
        .series-1 {
            fill: $analyzer-series1;
        }
        
        .series-2 {
            fill: $analyzer-series2;
        }

        .series-3 {
            fill: $analyzer-series3;
        }

        .series-4 {
            fill: $analyzer-series4;
        }

        .highcharts-tooltip-box {
            stroke-width: 0;
        }
    }

    .highcharts-xaxis-labels {
        text {
            color: $highstock-series0 !important;
            fill: $highstock-series0 !important;
        }
    }

    .highcharts-yaxis-grid {
        .highcharts-grid-line {
            display: none;
        }
    }

    .highcharts-yaxis-labels.series1 {
        text {
            color: $highstock-series0 !important;
            fill: $highstock-series0 !important;
        }
    }

    .highcharts-yaxis-labels.series2 {
        text {
            color: $highstock-series1 !important;
            fill: $highstock-series1 !important;
        }
    }

    .highcharts-yaxis.series1 {
        .highcharts-axis-title {
            color: $highstock-series0 !important;
            fill: $highstock-series0 !important;
        }
    }

    .highcharts-yaxis.series2 {
        .highcharts-axis-title {
            color: $highstock-series1 !important;
            fill: $highstock-series1 !important;
        }
    }
}
