<nav id="sidebar-nav" class="navbar navbar-fixed-top navbar-light bg-faded">
  <button (click)="mobileMenuToggle()" id="navbarSideButton" class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#catNavbar" aria-controls="catNavbar" aria-expanded="false" aria-labal="Toggle Category Menu">
    &#9776;
  </button>
  <a class="navbar-brand" href="#">
    <!-- <img src="../../assets/UHERO-Logo.jpg"> -->
    Logo
  </a>
  <!-- List of top level categories -->
  <!-- <div class="collapse navbar-toggleable-sm" id="catNavbar"> -->
    <!-- <ul id="navbarSide" class="navbar-side sidebar-list"> -->
    <ul id="navbarSide" class="navbar-side" [class.reveal]="reveal">
      <li class="list-item" *ngFor="let category of categories" (click)="expandItem(category.name)" >
        {{category.name}}
        <!-- List of subcategories/data lists -->
        <ul class="sidebar-list" *ngIf="expand === category.name">
          <!-- <li class="sub-list-item" *ngFor="let child of category.children" (click)="expandItem(category.name); expandSubList(child.name); expandSeries(child.id)">-->
          <li class="sub-list-item" *ngFor="let child of category.children" (click)="expandSublist(category.name, child.name, child.id)">
            <a href="#" [routerLink]="['/category', child['id']]">{{child.name}}</a>
              <!-- List of series belongning to subcategory/data list -->
              <!-- <ul class="sidebar-list" *ngIf="subcat === child.name">
              <li *ngFor="let serie of series">
                <a href="#" [routerLink]="['/series', serie['id']]" class="series-link">{{serie.name}}</a>
              </li>
              </ul> -->
          </li>
        </ul>
      </li>
    </ul>
  <!-- </div> -->
  <div [class.overlay]="overlay" (click)="mobileMenuToggle()"></div>
</nav>