#sidebar-nav {
  min-height: 500px;
  padding: 0 10px;
  width: 230px;
  background: #FFF;
  border: 1px solid #E2E2E2;
  border-radius: 5px;

  .sidebar-list, .list-item {
    list-style-type: none;
    -webkit-padding-start: 1em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 0.85em;
  }

  .sub-list-item {
    margin: 1em;
    font-size: 1em;
  }
}
