<nav id="sidebar-nav" class="navbar navbar-fixed-top navbar-light bg-white">
  <div>
    <button (click)="mobileMenuToggle()" id="navbarSideButton" class="hidden-md-up" type="button" data-toggle="collapse" aria-controls="catNavbar" aria-expanded="false" aria-labal="Toggle Category Menu">
      &#9776;
    </button>
    <a class="navbar-brand" href="#">
      <img src="../../assets/UHEROdata-Logo-color.svg">
    </a>
    <app-search-bar (onSearch)="onSearch($event)"></app-search-bar>
  </div>
  <ul id="navbar-side" class="navbar-side" [class.reveal]="reveal">
    <li class="list-item" *ngFor="let category of categories, let cat = index" [class.selectedCategory]="category['id'] === selectedCategory">
      <a [routerLink]="['/category']" [queryParams]="{id: category['id']}">&nbsp; {{category.name}}</a>
    </li>
  </ul>
  <div [class.overlay]="overlay" (click)="mobileMenuToggle()"></div>
</nav>