.navbar{
  @media (max-width: 767px) {
    background-color: #FFFFFF;
    padding: 0;
    box-shadow: 0 4px 6px -6px black;
    -moz-box-shadow: 0 4px 6px -6px black;
    -webkit-box-shadow: 0 4px 6px -6px black;
  }
}

#sidebar-nav {
  // min-height: 100%;
  // background: #FFFFFF;
  // margin: 25% 0;

  .navbar-brand {
    @media (min-width:768px) {
      display: none;
    }

    @media (max-width: 767px) {
      float: none;
      padding: 0;
      margin: 0;
    }

    img {
      width: 185px;
      padding: 5px;
    }
  }

  @media (min-width: 768px) {
    margin-top: 65px;
    position: relative;
    padding: 0;
  }

  button {
    background-color: #FFFFFF;
    border: none;
    float: left;
    font-size: 1.5em;
    color: #505050;
  }

  .navbar-side {
    padding-left: 0px;

    @media (max-width: 543px) {
      height: 100%;
      width: 85%;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
      position: fixed;
      top: 0;
      left: 0;
      padding: 0;
      list-style: none;
      // border-left: 2px solid #ccc;
      background-color: #F7F7F9;
      overflow-y: scroll;
      z-index: 100;
    }

    @media (min-width:544px) and (max-width: 767px) {
      width: 50%;
      height: 100%;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
      position: fixed;
      top: 0;
      left: 0;
      padding: 0;
      list-style: none;
      border-left: 2px solid #ccc;
      background-color: #F7F7F9;
      overflow-y: scroll;
      z-index: 100;
    }
  }

  .reveal {
    @media (max-width: 767px) {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
    }
  }

  .overlay {
    position: fixed;
    // display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #CCC;
    opacity: 0.6;
    z-index: 99;
  }

  .sidebar-list, .list-item {
    list-style-type: none;
    -webkit-padding-start: 1em;
    color: #505050;
    // text-transform: uppercase;
    font-size: 0.9em;
    // letter-spacing: 0.025em;
    // padding: 5px 0px 0px 0px;
    cursor: pointer;
    white-space: nowrap;
    // font-weight: bold;

    /* @media (min-width: 768px) and (max-width: 991px) {
      white-space: normal;
    } */
  }
  .list-item {
    @media (min-width: 768px) {
      // border-bottom: 1px solid #EBEBEB;
      // margin-right: -30px;
      // margin-left: -30px;
      height: 35px;
      padding: 0 15px 0 5px;
    }

    @media (max-width: 767px) {
      // border-bottom: 2px solid #CCC;
    }

    a {
      font-size: 1em;
      display: block;
      text-decoration: none;
      color: #505050;
      line-height: 35px;
      // margin-left: 5px;

      &:active {
        color: #FFFFFF;
      }
    }

    &:hover {
      background-color: #C4C4C4;
      color: #FFFFFF;
    }
  }

  /* .sub-list-item {
    // margin: 1em;
    font-size: 1.15em;
    white-space: nowrap;
    padding: 5px 0px;
    margin-left: 0px;
    margin-right: 0px;
    background: #E5E5E5;

    a {
      display: block;
      text-decoration: none;
      color: #505050;

      &:hover {
        color: #FFFFFF;
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      white-space: normal;
    }
  } */

  .selectedCategory {
    background-color: #1d667f;
    color: #FFFFFF;
  }

  .selectedCategory {
    a, a:hover, a:active {
      color: #FFFFFF;
    }
  }
}
