.navbar{
  @media (max-width: 767px) {
    background-color: #FFFFFF;
    padding: 0;
  }
}

#sidebar-nav {
  // min-height: 100%;
  // background: #FFFFFF;
  // margin: 25% 0;

  .navbar-brand {
    @media (min-width:768px) {
      display: none;
    }

    @media (max-width: 767px) {
      float: none;
      padding: 0;
      margin: 0;
    }

    img {
      width: 185px;
      padding: 5px;
    }
  }

  @media (min-width: 768px) {
    margin-top: 80px;
    position: relative;
  }

  button {
    background-color: #FFFFFF;
    border: none;
  }

  /* @media (max-width: 767px) {
    margin: 0;
    padding: 0;
    background: transparent;
  }

  @media (min-width: 320px) and (max-width: 543px) {
    position: absolute;
    top: 2.25%;
    right: 0%;
  }

  @media (min-width: 544px) and (max-width: 767px) {
    position: absolute;
    top: 8.25%;
    right: 1%;
  }

  @media (min-width: 767px) and (max-width: 1000px) {
    margin: 20% 0;
  }

  @media (min-width: 1001px) {
    margin: 15% 0;
  } */

  .navbar-side {
    padding-left: 0px;

    @media (max-width: 543px) {
      height: 100%;
      width: 85%;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
      position: fixed;
      top: 0;
      left: 0;
      padding: 0;
      list-style: none;
      border-left: 2px solid #ccc;
      background-color: #F7F7F9;
      overflow-y: scroll;
      z-index: 100;
    }

    @media (min-width:544px) and (max-width: 767px) {
      width: 50%;
      height: 100%;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
      position: fixed;
      top: 0;
      left: 0;
      padding: 0;
      list-style: none;
      border-left: 2px solid #ccc;
      background-color: #F7F7F9;
      overflow-y: scroll;
      z-index: 100;
    }
  }

  .reveal {
    @media (max-width: 767px) {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
    }
  }

  .overlay {
    position: fixed;
    // display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #CCC;
    opacity: 0.6;
    z-index: 99;
  }

  .sidebar-list, .list-item {
    list-style-type: none;
    -webkit-padding-start: 1em;
    font-family: sans-serif;
    color: #505050;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.025em;
    padding: 5px 0px 0px 0px;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;

    /* @media (min-width: 768px) and (max-width: 991px) {
      white-space: normal;
    } */
  }
  .list-item {
    @media (min-width: 768px) {
      border-bottom: 1px solid #EBEBEB;
      margin-right: -30px;
      margin-left: -30px;
    }

    @media (max-width: 767px) {
      border-bottom: 2px solid #CCC;
    }

    a {
      display: block;
      text-decoration: none;
      color: #505050;
      margin-left: 5px;

      &:active {
        color: #FFFFFF;
      }
    }

    li:hover {
      background-color: #1d667f;
      color: #FFFFFF;
    }
  }

  /* .sub-list-item {
    // margin: 1em;
    font-size: 1.15em;
    white-space: nowrap;
    padding: 5px 0px;
    margin-left: 0px;
    margin-right: 0px;
    background: #E5E5E5;

    a {
      display: block;
      text-decoration: none;
      color: #505050;

      &:hover {
        color: #FFFFFF;
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      white-space: normal;
    }
  } */

  .selectedCategory {
    background-color: #1d667f;
    color: #FFFFFF;
  }

  .selectedCategory {
    a, a:hover, a:active {
      color: #FFFFFF;
    }
  }
}
