#sidebar-nav {
  float: left;
  // display: inline-block;
  min-height: 100%;
  // padding: 0 10px;
  // width: 230px;
  background: #F6F5F5;
  padding: 1% 2%;
  // border: 1px solid #E2E2E2;
  // border-radius: 5px;

  .sidebar-list, .list-item {
    list-style-type: none;
    -webkit-padding-start: 1em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 0.05em;
    padding: 5px;
    cursor: pointer;
    white-space: nowrap;
  }

  .sub-list-item {
    margin: 1em;
    font-size: 1.15em;
    white-space: nowrap;

    a {
      text-decoration: none;
      color: #000000;
    }
  }
}
