@import 'colors';

.navbar{
  @media (max-width: 767px) {
    background-color: $white;
    padding: 0;
    box-shadow: 0 4px 6px -6px $black;
    -moz-box-shadow: 0 4px 6px -6px $black;
    -webkit-box-shadow: 0 4px 6px -6px $black;
  }
}

#sidebar-nav {
  .navbar-brand {
    @media (min-width:768px) {
      display: none;
    }

    @media (max-width: 767px) {
      float: none;
      padding: 0;
      margin: 0;
    }

    img {
      height: 38px;
      padding: 5px;
    }
  }
  
  @media (min-width: 768px) {
    margin-top: 65px;
    position: relative;
    padding: 0;
  }

  button {
    background-color: $white;
    border: none;
    float: left;
    font-size: 1.5em;
    color: $primary-text;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .navbar-side {
    padding-left: 0px;

    @media (max-width: 543px) {
      height: 100%;
      width: 85%;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
      position: fixed;
      top: 0;
      left: 0;
      padding: 0;
      list-style: none;
      background-color: $light-gray;
      overflow-y: scroll;
      z-index: 100;
    }

    @media (min-width:544px) and (max-width: 767px) {
      width: 50%;
      height: 100%;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
      position: fixed;
      top: 0;
      left: 0;
      padding: 0;
      list-style: none;
      border-left: 2px solid $gray;
      background-color: $light-gray;
      overflow-y: scroll;
      z-index: 100;
    }
    
    @media (min-width: 768px) {
      width: fit-content;

      .mobile-divider {
        display: none;
      }

      #about-link {
        display: none;
      }
    }
  }

  .reveal {
    @media (max-width: 767px) {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: $gray;
    opacity: 0.6;
    z-index: 99;
  }

  .sidebar-list, .list-item {
    list-style-type: none;
    -webkit-padding-start: 1em;
    color: $primary-text;
    font-size: 0.9em;
    cursor: pointer;
    white-space: nowrap;
  }

  .list-item {
    @media (min-width: 768px) {
      height: 35px;
      padding: 0 15px 0 5px;
    }

    a {
      font-size: 0.9em;
      display: block;
      text-decoration: none;
      color: $primary-text;
      line-height: 35px;

      &:active {
        color: $white;
      }
    }

    &:hover {
      background-color: $gray;
      color: $white;
    }
  }

  .selectedCategory {
    background-color: $primary;
    color: $white;
  }

  .selectedCategory {
    a, a:hover, a:active {
      color: $white;
    }
  }
}
