@import 'app-colors';

.dataTables_wrapper {
    display: inline-block;

    .buttons-csv {
        background: none;
        border: none;
        cursor: pointer;
        color: $primary;
        text-decoration: none;
        font-size: 0.85em;
        
        .material-icons {
            font-size: 18px;
            vertical-align: middle;
        }
    }
}
