.dataTables_wrapper {
    display: inline-block;

    .buttons-csv {
        color: #1D667F;
        text-decoration: none;
        font-size: 0.85em;
        
        .material-icons {
            font-size: 18px;
            vertical-align: middle;
        }
    }
}
