<div class="multi-series-container">
	<ng-template ngFor let-data [ngForOf]="categoryData | async">
    <h2 class="selected-category" [class.search-term]="search" id="id_top">{{data.selectedCategory}}</h2>
    <p *ngIf="search && data.invalid">No results found for "{{data.invalid}}."</p>
    <p *ngIf="!search && data.invalid">{{data.invalid}}</p>
		<i *ngIf="search && !data.requestComplete && !data.invalid" class="fa fa-spinner fa-pulse fa-fw"></i>
    <ng-template ngFor let-measure [ngForOf]="data.measurements" let-m="index">
			  <ul class="content-links" *ngIf="data.measurements" [attr.id]="'id_' + measure.id">
				  <li *ngFor="let measure of data.measurements; let mInd='index'">
					  <a [routerLink]="['/category']" [fragment]="measure.id" [queryParams]="queryParams" (click)="scrollTo()" [class.current-sub]="mInd === m">{{measure.name}}</a>
				  </li>
			  </ul> 
			<hr class="sublist-separator" *ngIf="data.sublist.length > 1">
			<div class="filters">
				<a *ngIf="routeView === 'table'" (click)="switchView(sub.id)" class="switch-view">Chart View <i class="material-icons md-18">show_chart</i></a>
				<a *ngIf="routeView === 'chart' || !routeView" (click)="switchView(sub.id)" class="switch-view">Table View <i class="material-icons md-18">view_list</i></a>
				<label *ngIf="routeView === 'table'" class="form-check-inline">
          <input type="checkbox" [checked]="queryParams.c5ma === 'true'" (change)="c5maActive($event, sub.id)">Centered 5 Year Moving Average
        </label>
        <app-date-slider class="sliders" *ngIf="data.requestComplete" [dates]="data.sliderDates" [sublist]="data.measurements" [subCat]="measure" [dateFrom]="tableStart ? tableStart : null" [dateTo]="tableEnd ? tableEnd: null" [freq]="data.currentFreq?.freq" (updateRange)="changeRange($event)"></app-date-slider>
        <app-category-datatables *ngIf="routeView === 'table' && data.requestComplete" [geo]="data.currentGeo" [freq]="data.currentFreq" [c5ma]="queryParams.c5ma === 'true'" [categoryDates]="data.categoryDates" [sublist]="measure" [tableId]="measure.id"></app-category-datatables>
				<i *ngIf="!data.requestComplete || loading" class="fa fa-spinner fa-pulse fa-fw"></i>
			</div>
			<app-category-table *ngIf="routeView === 'table' && data.requestComplete" [dates]="data.categoryDates" [tableStart]="tableStart" [tableEnd]="tableEnd" [subCats]="data.measurements" [data]="measure.displaySeries" [freq]="data.currentFreq?.freq" [subcatIndex]="measure.id" [c5maActive]="queryParams.c5ma === 'true'" [noSeries]="measure.noData" [params]="queryParams"></app-category-table>
      <app-category-charts *ngIf="routeView !== 'table' && data.requestComplete" [portalSettings]="portalSettings" [chartStart]="chartStart" [chartEnd]="chartEnd" [data]="measure.displaySeries" [freq]="data.currentFreq?.freq" [noSeries]="measure.noData" [params]="queryParams"></app-category-charts>
		</ng-template>
	</ng-template>
</div>