<div class="multi-series-container">
	<ng-template ngFor let-data [ngForOf]="categoryData | async">
    <h2 class="selected-category" [class.search-term]="search" id="id_top">{{data.selectedCategory}}</h2>
    <p *ngIf="search && data.invalid">No results found for "{{data.invalid}}."</p>
    <p *ngIf="!search && data.invalid">{{data.invalid}}</p>
		<i *ngIf="search && !data.requestComplete && !data.invalid" class="fa fa-spinner fa-pulse fa-fw"></i>
    <ng-template ngFor let-sub [ngForOf]="data.sublist" let-i="index">
				<ul class="nav content-links" *ngIf="data.sublist.length > 1" [attr.id]="'id_' + sub.id">
					<li class="">
						<a class="current-sub">{{sub.name}}</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
						<div class="dropdown-menu">
							<a *ngFor="let sub of data.sublist; let subInd='index'" class="dropdown-item" [routerLink]="['/category']" [fragment]="sub.id" [queryParams]="queryParams" (click)="scrollTo()" [class.current-sub]="subInd === i">{{sub.name}}</a>
						</div>
					</li>
				</ul>
			<hr class="sublist-separator" *ngIf="data.sublist.length > 1">
			<div class="filters">
				<app-measurement-selector *ngIf="sub.measurements" [measurements]="sub.measurements" [selectedMeasurement]="sub.currentMeasurement" (selectedMeasurementChange)="redrawSeries($event)" class="selector"></app-measurement-selector>
				<a *ngIf="routeView === 'table'" (click)="switchView(sub.id)" class="switch-view">Chart View <i class="material-icons md-18">show_chart</i></a>
				<a *ngIf="routeView === 'chart' || !routeView" (click)="switchView(sub.id)" class="switch-view">Table View <i class="material-icons md-18">view_list</i></a>
				<label *ngIf="routeView === 'table'" class="form-check-inline">
          <input type="checkbox" [checked]="queryParams.c5ma === 'true'" (change)="c5maActive($event, sub.id)">Annual Change
        </label>
        <app-date-slider class="sliders" *ngIf="sub.requestComplete" [portalSettings]="portalSettings" [dates]="sub.sliderDates" [sublist]="data.sublist" [subCat]="sub" [dateFrom]="sub.tableStart ? sub.tableStart : null" [dateTo]="sub.tableEnd ? sub.tableEnd: null" [freq]="data.currentFreq?.freq" (updateRange)="changeRange($event, sub)"></app-date-slider>
        <!-- <app-series-paging *ngIf="sub.requestComplete" [data]="sub.scrollSeries" (seriesPageChange)="updatePageCounter($event, sub)"></app-series-paging> -->
				<app-category-datatables *ngIf="routeView === 'table' && sub.requestComplete" [portalSettings]="portalSettings" [geo]="data.currentGeo" [freq]="data.currentFreq" [c5ma]="queryParams.c5ma === 'true'" [categoryDates]="sub.dateArray" [sublist]="sub" [tableId]="sub.id"></app-category-datatables>
				<i *ngIf="!sub.requestComplete || loading" class="fa fa-spinner fa-pulse fa-fw"></i>
			</div>
			<app-category-table *ngIf="routeView === 'table' && sub.requestComplete" [dates]="sub.dateArray" [tableStart]="sub.tableStart" [tableEnd]="sub.tableEnd" [sublist]="sub" [data]="sub.scrollSeries[sub.scrollIndex]" [freq]="data.currentFreq?.freq" [subcatIndex]="sub.id" [c5maActive]="queryParams.c5ma === 'true'" [noSeries]="sub.noData" [params]="queryParams"></app-category-table>
			<app-category-charts *ngIf="routeView !== 'table' && sub.requestComplete" [search]="search" [portalSettings]="portalSettings" [chartStart]="sub.chartStart" [chartEnd]="sub.chartEnd" [sublist]="sub" [data]="sub.scrollSeries[sub.scrollIndex]" [freq]="data.currentFreq?.freq" [noSeries]="sub.noData" [params]="queryParams"></app-category-charts>
			<app-series-paging *ngIf="sub.requestComplete" [data]="sub.scrollSeries" (seriesPageChange)="updatePageCounter($event, sub)"></app-series-paging>						
		</ng-template>
	</ng-template>
</div>