<ng-template ngIf [ngIf]="noSeries">
  <p *ngIf="noSeries && (sublist.freqs || sublist.geos)" class="no-data">Data Available for:</p>
  <ul *ngIf="sublist.geos" class="available-geos">
    <li *ngFor="let geo of sublist.geos">
      {{geo.shortName}}
    </li>
  </ul>
  <ul *ngIf="sublist.freqs && !sublist.geos" class="available-freqs">
    <li *ngFor="let freq of sublist.freqs">
      {{freq.label}}
    </li>
  </ul>
  <p *ngIf="noSeries && !sublist.freqs && !sublist.geos" class="no-data">No data available</p>
</ng-template>
<ng-template ngIf [ngIf]="!noSeries">
  <button class="csv-export-button" (click)="onExport()">Download CSV
    <i class="far fa-file-excel"></i>
  </button>
  <ag-grid-angular style="width: 100%;" class="ag-theme-balham" [rowData]="rows" [columnDefs]="columnDefs"
    domLayout="autoHeight" [frameworkComponents]="frameworkComponents" [enableRtl]="true"
    [suppressPaginationPanel]="true" [paginationPageSize]="selectedPaginationSize" [pagination]="true"
    (paginationChanged)="onPaginationChanged($event)" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
  <div>
    <button (click)="onBtFirst()" class="pi pi-step-backward"></button>
    <button (click)="onBtPrevious()" class="pi pi-caret-left"></button>
    <span>{{currentPage}} of {{totalPages}}</span>
    <button (click)="onBtNext()" class="pi pi-caret-right"></button>
    <button (click)="onBtLast()" class="pi pi-step-forward"></button>
    <select [(ngModel)]="selectedPaginationSize" (ngModelChange)="onPaginationSizeChange($event)" id="pagination-size"
      aria-label="pagination-size-selector">
      <option [ngValue]="paginationSize" *ngFor="let paginationSize of paginationSizeOptions">
        {{paginationSize}}
      </option>
    </select>
  </div>
</ng-template>