@import 'app_colors';

.no-data {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 0.9em;
}

ul.available-geos, ul.available-freqs {
  li {
    font-size: 0.9em;
  }
}

/* .ag-pinned-left-header {
  .ag-header-cell-text {
    display: none;
  }
}

.ag-body-container.ag-layout-auto-height {
  display: block;
}

.ag-root-wrapper {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-top: 10px;
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  }
}

.ag-cell {
  direction: ltr;
  text-align: right;
}

.ag-cell-last-left-pinned {
  text-align: left;
} */

.csv-export-button {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  color: $primary;
  text-decoration: none;
  font-size: 0.85em;
  
  .material-icons {
      font-size: 18px;
      vertical-align: middle;
  }
}
