@import 'app_colors';

a {
  display: inline-block;
  direction: ltr;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 74%;
}

div.th-buttons {
  float: right;
  display: flex;
  align-content: center;
  justify-content: center;

  .info {
    float: right;
    cursor: pointer;
    width: initial;
    margin: auto;

    &:focus {
      outline: 0;
    }

    .info-icon {
      font-size: 1.2em;
      vertical-align: middle;
      margin-left: 5px;
    }
  }

  .analyze-button {
    color: rgba(240, 240, 240, 0.65);
    cursor: pointer;
    vertical-align: middle;
    font-size: inherit;
    font-weight: bold;
    float: left;
    margin: auto;
  }

  .add-button {
    text-shadow: 1px 2px 6px $white, 0 0 0 $black, 1px 2px 6px $white;
  }

  .remove-button {
    color: $secondary;
  }               
}

.indent1 {
  padding-left: 30px;
  width: 68%;

  .info {
    width: initial;
  }
}

.indent2 {
  padding-left: 50px;
    
  .info {
    width: initial;
  }
}

.indent3 {
  padding-left: 70px;
  
  .info {
    width: initial;
  }
}