<ng-template ngIf [ngIf]="params.data.lvlData">
  <span>
    <a class="{{params.data.seriesInfo.indent ? 'indent' + params.data.seriesInfo.indent : ''}}" [routerLink]="['/series']" [queryParams]="{ id: params.data.seriesInfo.id, sa: params.data.seriesInfo.saParam, seriesCat: params.data.categoryId }"
      queryParamsHandling='merge'>{{params.value}}</a>
  </span>
  <div class="th-buttons">
    <!-- <i [title]="params.data.seriesInfo.analyze ? 'Remove from Analyzer' : 'Add to Analyzer'" [class.add-button]="!params.data.seriesInfo.analyze"
      [class.remove-button]="params.data.seriesInfo.analyze" class="material-icons analyzer-toggle remove-button" (click)="updateAnalyze(params.data.seriesInfo)">&#xE838;</i> -->
    <i *ngIf="!params.data.seriesInfo.analyze" title="Add to Analyzer" [class.add-button]="params.data.seriesInfo.analyze" class="material-icons analyzer-toggle" (click)="updateAnalyze(params.data.seriesInfo)">star_border</i>
    <i *ngIf="params.data.seriesInfo.analyze" title="Remove from Analyzer" [class.remove-button]="params.data.seriesInfo.analyze" class="material-icons analyzer-toggle remove-button" (click)="updateAnalyze(params.data.seriesInfo)">star</i>
    <a tabindex="0" id="{{params.data.subcatIndex + params.data.seriesInfo.id}}" class="info" (click)="showPopover(params.data.seriesInfo, params.data.subcatIndex)"
      role="button" data-animation='false' data-toggle="popover">
      <i class="material-icons info-icon">&#xE88F;</i>
    </a>
  </div>

</ng-template>
<ng-template ngIf [ngIf]="!params.data.lvlData">
  {{params.value}}
</ng-template>