#chart-view {
    width: 1086px;
    max-width: 100%;
}

#table-view {
    width: 1017px;
    max-width: 100%;
}

#series-view {
    width: 1008px;
    max-width: 100%;
}

#search-box {
    width: 331px;
    max-width: 100%;
}