@import 'colors';


h2, h3, h4 {
    color: $primary;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 0.9rem;
}

#chart-view {
    width: 1086px;
    max-width: 100%;
}

#table-view {
    width: 1017px;
    max-width: 100%;
}

#series-view {
    width: 1008px;
    max-width: 100%;
}

#search-box {
    width: 331px;
    max-width: 100%;
}