@import 'app_colors';

.analyze-button {
  color: #B5B5B5;
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.2em;
  visibility: hidden;
}

.analyze-chart {
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.2em;
}

.transform-checks {
  display: inline-block;
}

.stat-warning {
  font-size: 0.85em;
  color: $primary-text;
  
  i {
    font-size: 16px;
    vertical-align: sub;
  }

  ul, li {
    margin-bottom: 0;
  }
}

.ag-root-wrapper {
  margin-bottom: 40px;
}

.ag-pinned-left-header {
  .ag-header-cell-text {
    display: none;
  }
}

.ag-cell {
  direction: ltr;
  text-align: right;
}

.ag-cell-last-left-pinned {
  text-align: left;
}

.csv-export-button {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  color: $primary;
  text-decoration: none;
  font-size: 0.85em;
  
  .material-icons {
      font-size: 18px;
      vertical-align: middle;
  }
}

.analyzer-table {
    vertical-align: top;
    display: inline-block;
    min-height: 100%;
    overflow: auto;
    overflow-y: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
  
    @media (min-width: 768px) {
      margin-top: 10px;
    }
  
    @media (max-width: 767px) {
      margin-top: 50px;
    }

    .table-row {
      .table {
        margin-bottom: 0;
        border-left: 1px solid $gray;

        table {    
          th {
            border-right: 0;

            a {
              display: inline-block;
              max-width: 80%;
              overflow: hidden;
              text-overflow: ellipsis;
              color: $primary-text;
              vertical-align: top;
            }

            &:hover {
              .analyze-button {
                visibility: visible;
              }
            }
          }
    
          .info-icon {
            font-size: 1.2em;
            vertical-align: text-top;
          }

          tr:first-child {
            td {
              vertical-align: middle;
              font-weight: bold;
            }
          }
    
          tr:last-child {
            th {
              border-right: 0;
            }
          }
                
          .info {
            cursor: pointer;
            width: initial;
            right: 5px;
            position: absolute;
    
            &:focus {
              outline: 0;
            }
          }
        }
      }
    }
}
