@import 'app_colors';

.analyze-button {
  color: #B5B5B5;
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.2em;
  visibility: hidden;
}

.analyze-chart {
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.2em;
}

.stat-note {
  font-size: 0.85em;
  color: $primary-text;
  margin-bottom: 0;
}

.transform-checks {
  display: inline-block;
}

.stat-warning {
  font-size: 0.85em;
  color: $primary-text;
  
  i {
    font-size: 16px;
    vertical-align: sub;
  }

  ul, li {
    margin-bottom: 0;
  }
}

.ag-root-wrapper {
  margin-bottom: 40px;
}

.ag-pinned-left-header {
  .ag-header-cell-text {
    display: none;
  }
}

.ag-cell {
  direction: ltr;
  text-align: right;
}

.ag-cell-last-left-pinned {
  text-align: left;
}

.ag-theme-balham .ag-header-cell-label {
  display: block;
  float: right;

  span {
    float: right;
  }
}

.ag-body-viewport.ag-layout-auto-height {
  overflow-y: hidden;
}

.csv-export-button {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  color: $primary;
  text-decoration: none;
  font-size: 0.85em;
  
  .material-icons {
      font-size: 18px;
      vertical-align: middle;
  }
}
