@import 'app-colors';

.analyze-button {
  color: #B5B5B5;
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.2em;
  visibility: hidden;
}

.analyze-chart {
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.2em;
}

.transform-checks {
  display: inline-block;
}

.stat-warning {
  font-size: 0.85em;
  color: $primary-text;
  
  i {
    font-size: 16px;
    vertical-align: sub;
  }

  ul, li {
    margin-bottom: 0;
  }
}

.analyzer-table {
    vertical-align: top;
    display: inline-block;
    min-height: 100%;
    overflow: auto;
    overflow-y: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
  
    @media (min-width: 768px) {
      margin-top: 10px;
    }
  
    @media (max-width: 767px) {
      margin-top: 50px;
    }

    .table-row {
      position: relative;
      margin-bottom: 20px;

      .table {
        overflow-x: scroll;
        overflow-y: visible;
        width: 68%;
        margin-left: 32%;
        margin-bottom: 0;
        /* Add gradient to scrollable content, based on: http://www.the-haystack.com/2013/09/24/responsive-scrollable-tables/ */
        background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0)), linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0)), linear-gradient(to right, #E4E4E4, rgba(195, 195, 197, 0)), linear-gradient(to left, #E4E4E4, rgba(195, 195, 197, 0));
        background-position: 0 0, 100% 0, 0 0, 100% 0;
        background-repeat: no-repeat;
        background-color: white;
        background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
        background-attachment: local, local, scroll, scroll;
        border-left: 1px solid $gray;

        table {
          table-layout: fixed;
          width: 100%;
          *margin-left: -32%;
    
          td, th {
            vertical-align: top;
            width: 125px;
            text-align: right;
            font-size: 0.8em;
            padding: 0.4em;
            border: 1px solid $border;
            &:empty:after {
              content: "\00a0";
            }
          }
    
          th {
            position: absolute;
            *position: relative;
            left: 0;
            width: 32%;
            white-space: nowrap;
            border-right: 0;
            text-align: left;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 0.8em;
            font-weight: normal;
            border-bottom: 0;

            a {
              display: inline-block;
              max-width: 80%;
              overflow: hidden;
              text-overflow: ellipsis;
              color: $primary-text;
              vertical-align: top;
            }

            &:hover {
              .analyze-button {
                visibility: visible;
              }
            }
          }
    
          .empty-header {
            border: none;
          }
    
          .info-icon {
            font-size: 1.2em;
            vertical-align: text-top;
          }

          tr:first-child {
            td {
              vertical-align: middle;
              font-weight: bold;
            }
          }
    
          tr:last-child {
            th {
              border: 1px solid $border;
              border-right: 0;
            }
          }
    
          tr:nth-child(even) {
            background-color: $table-gray;
    
            td:first-child, th:first-child {
              background: $table-gray;
            }
          }
                
          .info {
            cursor: pointer;
            width: initial;
            right: 5px;
            position: absolute;
    
            &:focus {
              outline: 0;
            }
          }
        }
      }
    }
}
