<div class="transform-checks">
  <label *ngIf="portalSettings.transformations.yoy" class="form-check-inline">
    <input type="checkbox" (change)="yoyActive($event)" [checked]="yoyChecked">Year/Year
  </label>
  <label *ngIf="portalSettings.transformations.ytd" class="form-check-inline">
    <input type="checkbox" (change)="ytdActive($event)" [checked]="ytdChecked">Year-to-Date
  </label>
  <label *ngIf="portalSettings.transformations.c5ma" class="form-check-inline">
    <input type="checkbox" (change)="c5maActive($event)" [checked]="c5maChecked">Annual Change
  </label>
</div>
<ng-template ngIf [ngIf]="series && series.length">
  <button class="csv-export-button" (click)="onExport()">Download CSV
    <i class="far fa-file-excel"></i>
  </button>
  <ag-grid-angular style="width: 100%;" class="ag-theme-balham" [rowData]="rows" [columnDefs]="columnDefs" domLayout="autoHeight"
    [frameworkComponents]="frameworkComponents" [gridOptions]="gridOptions" [enableRtl]="true" [suppressDragLeaveHidesColumns]="true"
    (gridReady)="onGridReady($event)" [singleClickEdit]="true">
  </ag-grid-angular>
  <p class="stat-note">*Scroll to the right for additional statistics</p>
  <ag-grid-angular style="width: 100%;" class="ag-theme-balham" [rowData]="summaryRows" [columnDefs]="summaryColumns" domLayout="autoHeight"
    [gridOptions]="statGridOptions" [frameworkComponents]="frameworkComponents">
  </ag-grid-angular>
</ng-template>
<p *ngIf="missingSummaryStat" class="stat-warning">
  <i class="material-icons text-danger">&#xE001;</i> The following series contain N/As due to missing values included in the selected range:
  <ng-template ngFor let-serie [ngForOf]="summaryRows">
    <ul>
      <li *ngIf="serie.missing">{{serie.series}}</li>
    </ul>
  </ng-template>
</p>