@import 'app_colors';

.multi-series-container {
  vertical-align: top;
  min-height: 100%;
  margin-top: 60px;
  
  .fa-spinner {
    color: $primary;
    display: block;
    margin: 20px;
  }

  .filters {
    display: inline-block;
    color: $primary;
    margin-bottom: 5px;
    margin-right: 10px;

    .sliders {
      display: inline-block;
      width: 360px;
      vertical-align: bottom;
      margin-left: 10px;
      margin-right: 10px;

      @media (max-width: 767px) {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
  }

  .category-header {
    color: $primary;
    font-size: 1.3em;
    margin-bottom: 0;
  }

  .subcategory-header {
    color: $primary;
    margin-bottom: 0;
  }

  .content-links:before {
    display: block;
    content: ' ';
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
  }

  .content-links {
    padding-left: 0px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;

    li {
      display: inline-block;

       a {
         text-decoration: none;
         font-size: 0.85em;
         color: $primary-text;
         padding: 5px;
         border-radius: 3px;

         &:hover {
           color: $primary;
         }
       }

       .current-sub {
         background: $primary;
         color: $white;

         &:hover {
           color: $white;
         }
       }

       @media (max-width: 767px) {
         min-width: 50%;
         margin-right: 0px;
       }
    }
  }

  .selected-category {
    display: block;
    color: $primary;
    font-size: 1.4em;
    margin: 0px;
    vertical-align: middle;
    text-transform: capitalize;

    @media (min-width: 768px) {
      //display: none;
    }
  }

  .search-term {
    display: block;
  }

  .top-anchor {
    display: block;
    content: ' ';
    margin-top: -250px;
    height: 250px;
    visibility: hidden;
  }


  .sublist {
    color: $primary;
    font-size: 1.2em;
    margin-bottom: 0px;
  }

  .sublist-separator {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    background-color: $primary;
    height: 2px;
    border-top: 0;
  }

  .material-icons.md-18 {
    font-size: 18px;
    color: $secondary;
    vertical-align: middle;
  }

  .switch-view {
    text-decoration: none;
    font-size: 0.85em;
    color: $primary;
    vertical-align: middle;
    cursor: pointer;

    @media(max-width: 767px) {
      display: none;
    }
  }

  .multi-charts-row {
    display: block;
    margin-bottom: 40px;
  }

  .no-data {
    margin-top: 10px;
  }

  /* @media (min-width: 768px) {
    margin-top: 55px;
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  } */
}
