.multi-series-container {
  vertical-align: top;
  // display: inline-block;
  min-height: 100%;
  // overflow: auto;

  .filters {
    display: inline-block;
    color: #505050;
    margin-bottom: 5px;
    margin-right: 10px;

    .form-check-inline {
      padding-left: 0;
      vertical-align: middle;
      font-size: 0.85em;
      margin-bottom: 0;

      input {
        margin-right: 0.25rem;
        margin-left: 0rem;
        vertical-align: middle;
      }
    }

    .fa-spinner {
      color: #1D667F;
    }

    .sliders {
      display: inline-block;
      width: 200px;
      vertical-align: bottom;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .content-links:before {
    display: block;
    content: ' ';
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
  }

  .content-links {
    padding-left: 0px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;

    li {
      display: inline-block;

       a {
         text-decoration: none;
         font-size: 0.85em;
         color: #505050;
         padding: 5px;
         border-radius: 3px;

         &:hover {
           color: #1D667F;
           // border-bottom: 1px solid #1D667F;
         }
       }

       .current-sub {
         background: #1D667F;
         color: #FFFFFF;

         &:hover {
           color: #FFFFFF;
         }
       }

       @media (max-width: 767px) {
         min-width: 50%;
         margin-right: 0px;
       }
    }
  }

  .selected-category {
    display: inline-block;
    color: #1D667F;
    font-size: 1.5em;
    margin: 0px;
    vertical-align: middle;
    text-transform: capitalize;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .search-term {
    display: block;
  }

  .top-anchor {
    display: block;
    content: ' ';
    margin-top: -250px;
    height: 250px;
    visibility: hidden;
  }


  .sublist {
    color: #1D667F;
    font-size: 1.2em;
    margin-bottom: 0px;
  }

  .sublist-separator {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    background-color: #1D667F;
    height: 2px;
  }

  .material-icons.md-18 {
    font-size: 18px;
    color: #f6a01b;
    vertical-align: middle;
  }

  .switch-view {
    text-decoration: none;
    font-size: 0.85em;
    color: #1D667F;
    vertical-align: middle;
    cursor: pointer;

    @media(max-width: 767px) {
      display: none;
    }
  }

  .multi-charts-row {
    display: block;
    margin-bottom: 40px;
  }

  .no-data {
    margin-top: 10px;
  }

  .multi-charts {
    display: inline-block;
    padding: 0 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 10px 10px 10px 3px;
    background: #F7F7F7;

    a:hover {
      text-decoration: none;
    }
  }

  @media (min-width: 768px) {
    margin-top: 70px;
  }

  @media (max-width: 767px) {
    margin-top: 50px;
  }
}
