.multi-series-container {
  vertical-align: top;
  display: inline-block;
  min-height: 100%;
  overflow: auto;

  .selected-category {
    display: inline-block;
    color: #1D667F;
    font-size: 1.9em;
    margin-bottom: 30px;
  }

  .sublist {
    color: #1D667F;
    font-size: 1em;
  }

  .selector {
    // display: inline-block;
    float: right;
  }

  @media (min-width: 768px) {
    margin-top: 80px;
  }

  @media (max-width: 767px) {
    margin-top: 60px;
  }
  // margin: 25% 0 0 0;
  // margin-left: 4%;
  // margin-right: -4%;
  // width: 960px;
  // margin: 0 auto;
  // background: #F6F5F5;

  /* .all-chart-container {
    margin: 2% 5%;
  } */

  /* @media (min-width: 767px) and (max-width: 1000px) {
    margin: 20% 0 0 0;
  }

  @media (min-width: 1001px) {
    margin: 15% 0 0 0;
  } */

  .multi-charts-row {
    display: block;
    margin-bottom: 40px;
  }

  .multi-charts {
    display: inline-block;
    padding: 0 3px;
  }

}
