.multi-series-container {
  vertical-align: top;
  display: inline-block;
  min-height: 100%;
  overflow: auto;

  .content-links {
    padding-left: 5px;
    display: inline-block;
    margin-bottom: 0px;
    // margin-top: 10px;

    li {
      display: inline-block;
      margin-right: 10px;

       a {
         font-family: 'Lucida Sans', sans-serif;
         text-decoration: none;
         font-size: 0.9em;
         color: #1D667F;
       }

       @media (max-width: 767px) {
         min-width: 50%;
         margin-right: 0px;
       }
    }
  }

  .selected-category {
    font-family: 'Lucida Sans', sans-serif;
    display: inline-block;
    color: #1D667F;
    font-size: 1.5em;
    margin: auto 15px 10px 0px;
    vertical-align: middle;
  }

  .top-anchor {
    display: block;
    content: ' ';
    margin-top: -250px;
    height: 250px;
    visibility: hidden;
  }


  .sublist {
    font-family: 'Lucida Sans', sans-serif;
    color: #1D667F;
    font-size: 1.2em;
    margin-bottom: 0px;
  }

  .sublist:before {
    display: block;
    content: ' ';
    margin-top: -150px;
    height: 150px;
    visibility: hidden;
  }

  .sublist-separator {
    margin-top: 0.5rem;
    background-color: #1D667F;
    height: 2px;
  }

  @media (min-width: 768px) {
    margin-top: 70px;
  }

  @media (max-width: 767px) {
    margin-top: 60px;
  }

  .material-icons.md-18 {
    font-size: 18px;
    color: #1D667F;
    vertical-align: middle;
  }

  .switch-view {
    font-family: 'Lucida Sans', sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    color: #1D667F;
    margin-left: 10px;
  }

  // margin: 25% 0 0 0;
  // margin-left: 4%;
  // margin-right: -4%;
  // width: 960px;
  // margin: 0 auto;
  // background: #F6F5F5;

  /* .all-chart-container {
    margin: 2% 5%;
  } */

  /* @media (min-width: 767px) and (max-width: 1000px) {
    margin: 20% 0 0 0;
  }

  @media (min-width: 1001px) {
    margin: 15% 0 0 0;
  } */

  .multi-charts-row {
    display: block;
    margin-bottom: 40px;
  }

  .multi-charts {
    display: inline-block;
    padding: 0 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 10px;
    background: #F7F7F7
  }

}
