.search {
  position: fixed;
  z-index: 2;
  // right: 15px;
  top: 12px;
}

.multi-series-container {
  vertical-align: top;
  display: inline-block;
  min-height: 100%;
  overflow: auto;

  .filters {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .content-links:before {
    display: block;
    content: ' ';
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
  }

  .content-links {
    padding-left: 0px;
    display: inline-block;
    // margin-bottom: 0px;
    margin-top: 15px;
    margin-bottom: 0;

    li {
      display: inline-block;
      // margin-right: 15px;

       a {
         font-family: 'Lucida Sans', sans-serif;
         text-decoration: none;
         font-size: 0.9em;
         color: #505050;
         padding: 5px;
         border-top-left-radius: 3px;
         border-top-right-radius: 3px;
         // border-bottom: 1px solid #A5A9AA;

         &:hover {
           color: #1D667F;
           // border-bottom: 1px solid #1D667F;
         }
       }

       .currentSub {
         background: #1D667F;
         color: #FFFFFF;

         &:hover {
           color: #FFFFFF;
         }
       }

       @media (max-width: 767px) {
         min-width: 50%;
         margin-right: 0px;
       }
    }
  }

  .selected-category {
    font-family: 'Lucida Sans', sans-serif;
    display: inline-block;
    color: #1D667F;
    font-size: 1.5em;
    margin: auto 5px 10px 0px;
    vertical-align: middle;
    text-transform: capitalize;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .top-anchor {
    display: block;
    content: ' ';
    margin-top: -250px;
    height: 250px;
    visibility: hidden;
  }


  .sublist {
    font-family: 'Lucida Sans', sans-serif;
    color: #1D667F;
    font-size: 1.2em;
    margin-bottom: 0px;
  }

  .sublist-separator {
    margin-top: 0rem;
    background-color: #1D667F;
    height: 2px;
  }

  @media (min-width: 768px) {
    margin-top: 70px;
  }

  @media (max-width: 767px) {
    margin-top: 55px;
  }
  
  .sa-toggle {
    display: inline-block;

    label {
      display: none;
    }

    label:first-child {
      display: inline-block;
      background-color: #FFFFFF;
      color: #1D667F;
      font-family: 'Lucia Sans', sans-serif;
      font-size: 0.9em;
      font-weight: normal;
      border-radius: 0px;
      border-color: #CCCCCC;
      padding: 4px 10px;
      vertical-align: top;
      
      input {
        display: none;
      }
    }

    label:first-child.isActive {
      background-color: #5B93A7;
      color: #FFFFFF;
    }
  }

  .material-icons.md-18 {
    font-size: 18px;
    // color: #1D667F;
    color: #f6a01b;
    vertical-align: middle;
  }

  .switch-view {
    font-family: 'Lucida Sans', sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    color: #1D667F;
    // margin-left: 10px;

    @media(max-width: 767px) {
      display: none;
    }
  }

  .multi-charts-row {
    display: block;
    margin-bottom: 40px;
  }

  .multi-charts {
    display: inline-block;
    padding: 0 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 10px;
    background: #F7F7F7
  }
}
