.multi-series-container {
  vertical-align: top;
  display: inline-block;
  min-height: 100%;
  overflow: auto;
  margin: 25% 0 0 0;
  // margin-left: 4%;
  // margin-right: -4%;
  // width: 960px;
  // margin: 0 auto;
  // background: #F6F5F5;

  /* .all-chart-container {
    margin: 2% 5%;
  } */

  @media (min-width: 767px) and (max-width: 1000px) {
    margin: 20% 0 0 0;
  }

  @media (min-width: 1001px) {
    margin: 15% 0 0 0;
  }

  .multi-charts {
    display: inline-block;
    padding: 0 3px;
  }
}
