.multi-series-container {
  vertical-align: top;
  display: inline-block;
  min-height: 100%;
  overflow: auto;

  .selected-category {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: #1D667F;
    font-size: 1.5em;
    margin: auto 15px auto 0px;
    vertical-align: middle;
  }

  .sublist {
    font-family: 'Montserrat', sans-serif;
    color: #1D667F;
    font-size: 1.2em;
  }

  @media (min-width: 768px) {
    margin-top: 80px;
  }

  @media (max-width: 767px) {
    margin-top: 60px;
  }
  // margin: 25% 0 0 0;
  // margin-left: 4%;
  // margin-right: -4%;
  // width: 960px;
  // margin: 0 auto;
  // background: #F6F5F5;

  /* .all-chart-container {
    margin: 2% 5%;
  } */

  /* @media (min-width: 767px) and (max-width: 1000px) {
    margin: 20% 0 0 0;
  }

  @media (min-width: 1001px) {
    margin: 15% 0 0 0;
  } */

  .multi-charts-row {
    display: block;
    margin-bottom: 40px;
  }

  .multi-charts {
    display: inline-block;
    padding: 0 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 10px;
    background: #F7F7F7
  }

}
