@import '../../assets/app_colors.scss';

h1, h2, h3, h4 {
    color: $primary;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 0.9rem;
}

a {
    color: $primary;
    text-decoration: underline;
}

ol {
    counter-reset: item;
    padding-inline-start: 15px;
}

li {
    display: block;

    &:before {
        content: counters(item, ".") ". ";
        counter-increment: item
    }
}

#chart-view-screenshot {
    width: 1397px;
    max-width: 100%;
}

#chart-view-screenshot2 {
    width: 1397px;
    max-width: 100%;
}

#table-view-screenshot {
    width: 1397px;
    max-width: 100%;
}

#series-view-screenshot {
    width: 1397px;
    max-width: 100%;
}

#analyzer-screenshot {
    width: 1397px;
    max-width: 100%;
}

#analyzer-screenshot2 {
    width: 1397px;
    max-width: 100%;
}

#analyzer-tables {
    width: 1397px;
    max-width: 100%;
}

#search-box {
    width: 1397px;
    max-width: 100%;
}

.emphasis-blue {
    color: blue;
}

.emphasis-green {
    color: green;
}

.emphasis-red {
    color: red;
}

.emphasis-orange {
    color: orange;
}