@import 'app_colors';
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';

/* You can add global styles to this file, and also import other style files */
html, body {
  // height: 100%;
}

#loading-header {
  top: 0;
  width: 100%;
  background-color: $white;
  color: $white;
  padding: 0;
  box-shadow: 0 4px 6px -6px $black;
  -moz-box-shadow: 0 4px 6px -6px $black;
  -webkit-box-shadow: 0 4px 6px -6px $black;

  @media (max-width: 767px) {
    img {
      width: 185px;
    }
  }

  @media (min-width: 768px) {
    z-index: 1;
  }

  a {
    padding: 0;
    overflow: hidden;
  }

  .loading-img {
    content:url($img-src);
    height: 55px;
    position: absolute;
    top: 0;
    left: 10px;
    padding: 5px;
  }
}

body {
   position: relative;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lucida Sans', sans-serif;
   font-size: 16px;

   #header {
    top: 0;
    width: 100%;
    background-color: $white;
    color: $white;
    padding: 0;
    box-shadow: 0 4px 6px -6px $black;
    -moz-box-shadow: 0 4px 6px -6px $black;
    -webkit-box-shadow: 0 4px 6px -6px $black;

    @media (max-width: 767px) {
      img {
        width: 185px;
      }
    }

    @media (min-width: 768px) {
        z-index: 1;
    }

   a {
     padding: 0;
     overflow: hidden;
   }

   img {
     padding: 10px;
   }
  }

  .custom-select {
    color: $primary;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    height: calc(1.75rem - 2px);
    padding: 0.175rem 1.75rem 0.175rem 0.75rem;
    background: $white url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 8px 10px;
    margin-right: 0.25em;
    width: unset;
  }

  .popover {
    .arrow {
      display: none;
    }

    .popover-header {
      font-size: 0.85em;
      font-weight: bold;
      padding: 10px;

      .close-info {
        font-size: 1.1em;
        float: right;
        cursor: pointer;
      }
    }

    .popover-body {
      font-size: 0.9em;
    }
  }

  #loading {
      padding-left: 10px;
      margin-top: 65px;
  }
}

.form-check-inline {
  padding-left: 0;
  vertical-align: middle;
  font-size: 0.85em;
  margin-bottom: 0;

  input {
    margin-right: 0.25rem;
    margin-left: 0rem;
    vertical-align: middle;
  }
}

chart {
    display: block;
    margin-top: 2%;
    background-color: $light-gray;
}

// Analyzer & Category Tables
.table-row {
  position: relative;
  margin-bottom: 20px;

  .table {
    overflow-x: scroll;
    overflow-y: visible;
    width: 68%;
    margin-left: 32%;
    margin-bottom: 0;
    /* Add gradient to scrollable content, based on: http://www.the-haystack.com/2013/09/24/responsive-scrollable-tables/ */
    background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0)), linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0)), linear-gradient(to right, #E4E4E4, rgba(195, 195, 197, 0)), linear-gradient(to left, #E4E4E4, rgba(195, 195, 197, 0));
    background-position: 0 0, 100% 0, 0 0, 100% 0;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
    background-attachment: local, local, scroll, scroll;

    table {
      table-layout: fixed;
      width: 100%;
      *margin-left: -32%;

      td, th {
        vertical-align: top;
        width: 125px;
        text-align: right;
        font-size: 0.8em;
        padding: 0.4em;
        border: 1px solid $border;
        &:empty:after {
          content: " ";
          white-space: pre;
        }
      }

      th {
        position: absolute;
        *position: relative;
        left: 0;
        width: 32%;
        white-space: nowrap;
        border-right: 0;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.8em;
        font-weight: normal;
        border-bottom: 0;
      }

      .empty-header {
        border: none;
      }

      tr:last-child {
        th {
          border: 1px solid $border;
        }
      }

      tr:nth-child(even) {
        background-color: $table-gray;
    
        td:first-child, th:first-child {
          background: $table-gray;
        }
      }
    }
  }
}