/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

body {
   position: relative;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lucida Sans', sans-serif;
   font-size: 16px;

   #header {
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: #ffffff;
    padding: 0;
    box-shadow: 0 4px 6px -6px black;
    -moz-box-shadow: 0 4px 6px -6px black;
    -webkit-box-shadow: 0 4px 6px -6px black;

    @media (max-width: 767px) {
      img {
        width: 185px;
      }
    }

    @media (min-width: 768px) {
        z-index: 1;
    }

   a {
     padding: 0;
     overflow: hidden;
   }

   img {
     // max-width: 275px;
     padding: 5px;
   }
  }

  .custom-select {
    color: #1D667F;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    height: calc(1.75rem - 2px);
    padding: 0.175rem 1.75rem 0.175rem 0.75rem;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 8px 10px;
  }

  .popover {
    .popover-title {
      font-size: 0.85em;
      font-weight: bold;

      .close-info {
        font-size: 1.1em;
        float: right;
        cursor: pointer;
      }
    }

    .popover-content {
      font-size: 0.9em;
    }
  }

  #loading {
      padding-left: 10px;
      margin-top: 65px;
  }
}

chart {
    display: block;
    margin-top: 2%;
}