$black: #000;
$white: #FFF;
$blue: #1D667F;
$orange: #F6A01B;
$dark-gray: #505050;
$series-gray: #9E9E9E; 
$gray: #E5E5E5;
$light-gray: #FAFAFB;

$primary: $blue;
$primary-text: $dark-gray;
$secondary: $orange;
$border: $gray;
$tooltip: $light-gray;

/* Highcharts */
$chart-background: $light-gray;
$highcharts-series0: $blue;
$highcharts-series1: none;
$highstock-series0: $series-gray;
$highstock-series1: $blue;

$table-gray: #F5F5F5;

/* Loading Screen */
$img-src: '/../../assets/UHEROdata-Logo-color.svg';
