$black: #000;
$white: #FFF;
$blue: #1D667F;
$orange: #F6A01B;
$dark-gray: #505050;
$gray: #E5E5E5;
$light-gray: #F7F7F7;
$offwhite: #F9F9F9;

$primary: $blue;
$primary-text: $dark-gray;
$secondary: $orange;
$border: $gray;
$tooltip: $offwhite;

/* Highcharts */
$chart-background: $light-gray;
$highcharts-series1: $blue;
$highcharts-series2: none;
